<div class="main">

  <div class="page-title-div gradient-bg" >
    <div class="container">
      <div class="row page-title-row">
        <div class="col-sm-12 text-center">
          <h1 class="page-title mt30 bold">
            CONTACT US
          </h1>
          <p>

          <p>
        </div> <!-- end col-md-6 -->
      </div> <!-- end page-title-row -->
    </div> <!-- end container -->
  </div>

  <section class="content-section">
    <%= render "flash/successful" %>
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <!-- ========== SECTION HEADER ========== -->
          <div class="section-header">
            <h3 class="section-title underline"><%= t("share.vision") %></h3>
            <p class="section-subtitle"><%= simple_format t("share.company_feature") %></p>
          </div> <!-- end section-header -->

          <div class="mb50 col-sm-6 col-md-12">
            <h6 class="underline"><%= t("share.address") %></h6>
            <p><%= t("share.real_address") %></p>
          </div>

          <div class="mb50 col-sm-6 col-md-12">
            <h6 class="underline"><%=  t("share.contact_way") %></h6>
            <p><%= simple_format t("share.phone_number") %>
              <%= t("share.email_address") %></p>
          </div>
        </div> <!-- end col-md-4 -->

        <div class="col-md-8 ui form">

          <!-- ========== SECTION HEADER ========== -->
          <div class="section-header">
            <h3 class="section-title underline"><%=  t("share.contact_us") %></h3>
            <p class="section-subtitle"><%=  t("share.contact_notice") %></p>
          </div> <!-- end section-header -->

          <%= form_for @message do |f| %>
              <div class="two fields">
                <div class="six wide field">
                  <%= f.label :name ,"姓名"%>
                  <%= f.text_field :name,value: current_user.try(:name) %>
                </div>
                <div class="ten wide field">
                  <%= f.label :phone ,"電話"%>
                  <%= f.telephone_field :phone,value: current_user.try(:phone) %>
                </div>
              </div>
              <div class="field">
                <%= f.label :email ,"信箱"%>
                <%= f.email_field :email ,value: current_user.try(:alternate_email_check)%>
              </div>

              <div class="field">
                <%= f.label :problem ,"問題"%>
                <%= f.select :problem, options_for_select([ ["產品及價格"],["退款"],[ "BUG"],["技術問題"] ], "產品及價格"),{},class:"ui dropdown" %>
              </div>

              <div class="field">
                <%= f.label :message ,"訊息"%>
                <%= f.text_area :message,rows:"5" %>
              </div>
              <%= f.submit t('share.save'),class:"ui button red"  %>
          <% end %>
        </div> <!-- end col-md-8 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

</div> <!-- end main -->
