<table class="ui single line table">
  <thead>
  <tr>
    <th class="">訂單編號</th>
    <th class="">地址</th>
    <th class="">訂單成立時間</th>
    <th class="">總價格</th>
    <th class="">修改</th>
    <th class="">付款</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each  do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.full_address %></td>
        <td><%= order.updated_at.strftime('%x')%></td>
        <td><%= order.calc_price_with_shipfee %></td>
        <td>
          <%= link_to edit_order_path(order) do%><i class="fa fa-pencil-square-o" aria-hidden="true"></i><% end %>
        </td>
        <td>
          <%= link_to order_path(order) do%><i class="fa fa-credit-card" aria-hidden="true"></i><% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
