<!-- ========== MAIN ========== -->
<div class="main">

  <!-- ========== PAGE TITLE ========== -->
  <div class="page-title-div gradient-bg" >
    <div class="container">
      <div class="row page-title-row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-title">Shop Details</h1>
          <p>One stop solution for a stunning website.</p>
        </div> <!-- end col-md-6 -->

        <div class="col-md-6 col-sm-6 hidden-xs">
          <ol class="breadcrumb pull-right border-0">
            <li><a href="#" class="trans">Home</a></li>
            <li><a href="#" class="trans">Shop</a></li>
            <li><a href="#" class="active trans">Details</a></li>
          </ol>
        </div> <!-- end col-md-6 -->
      </div> <!-- end page-title-row -->
    </div> <!-- end container -->
  </div>

  <!-- ========== CONTENT SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= render "sidebar" %>
        </div> <!-- end col-md-3 -->

        <div class="col-sm-9 table-responsive">
          <table class="ui single line table">
            <thead>
            <tr>
              <th class="">訂單編號</th>
              <th class="">地址</th>
              <th class="">訂單成立時間</th>
              <th class="">總價格</th>
              <th class="">結帳方式</th>
              <th class="">退貨</th>
              <th class="">內容</th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each  do |order| %>
                <tr>
                  <td><%= order.order_number %></td>
                  <td><%= order.full_address %></td>
                  <td><%= order.payment.updated_at.strftime('%x')%></td>
                  <td><%= order.final_price %></td>
                  <td><%= order.payment.payment_method %></td>
                  <td>
                    <% if order.return_order.try(:status) == ("ok" || "OK") %>
                        <%= link_to user_return_order_path(current_user,id: order.return_order) do  %>
                            已完成
                        <% end %>
                    <% elsif order.return_order %>
                        <%= link_to user_return_order_path(current_user,id: order.return_order) do  %>
                            處理中
                        <% end %>
                    <% else %>
                        <%= link_to new_user_return_order_path(current_user,id: order) do  %>
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        <% end %>
                    <% end %>
                  </td>
                  <td><a href="<%= details_order_path(order) %>"><i class="fa fa-search" aria-hidden="true"></i></a></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="paginator">
      <%= paginate @orders %>
    </div>
  </section> <!-- end content-section -->

</div> <!-- end main -->
