<section class="content-section pbn ptn explodes">
  <div id="rev_slider_56_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="sliding-overlays" style="background-color:rgba(255,255,255,0);padding:0px;">
    <!-- START REVOLUTION SLIDER 5.2.5.1 fullscreen mode -->
    <div id="rev_slider_56_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.5.1">
      <ul>
        <li data-index="rs-135" data-transition="slidingoverlayvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off"
            data-title="Photo Guy" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_path("dummy.png") %>" alt="" data-lazyload="<%= image_path("transparent.png") %>" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-135-layer-4" data-x="['center','center','center','center']" data-hoffset="['250','250','250','250']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none"
               data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power2.easeInOut;" data-transform_out="opacity:0;s:800;" data-start="1850" data-responsive_offset="on" style="z-index: 5;"><img src="<%= image_path("dummy.png") %>" alt="" data-ww="['704px','704px','704px','704px']" data-hh="['555px','555px','555px','555px']" data-lazyload="<%= image_path("P1090370.png") %>" data-no-retina> </div>

          <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" id="slide-135-layer-6" data-x="['center','center','center','center']" data-hoffset="['250','250','250','250']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none"
               data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="opacity:0;s:500;" data-start="1850" data-responsive_offset="on" style="z-index: 6;"><img src="<%= image_path("dummy.png") %>" alt="" data-ww="['704px','704px','704px','704px']" data-hh="['555px','555px','555px','555px']" data-lazyload="<%= image_path("P1090368.png") %>" data-no-retina> </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-135-layer-5" data-x="['center','center','center','center']" data-hoffset="['250','250','250','250']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none"
               data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="opacity:0;s:500;" data-start="1850" data-responsive_offset="on" style="z-index: 7;"><img src="<%= image_path("dummy.png") %>" alt="" data-ww="['704px','704px','704px','704px']" data-hh="['555px','555px','555px','555px']" data-lazyload="<%= image_path("P1090371.png") %>" data-no-retina> </div>

          <!-- LAYER NR. 3 -->

          <!-- LAYER NR. 4 -->
          <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-135-layer-7" data-x="['center','center','center','center']" data-hoffset="['246','246','246','246']" data-y="['middle','middle','middle','middle']" data-voffset="['24','24','24','24']" data-width="none"
               data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:500;e:Power2.easeInOut;" data-transform_out="opacity:0;s:500;" data-start="1850" data-responsive_offset="on" style="z-index: 8;"><img src="<%= image_path("dummy.png") %>" alt="" data-ww="['658px','658px','658px','658px']" data-hh="['558px','558px','558px','558px']" data-lazyload="<%= image_path("P1090375.png") %>" data-no-retina> </div>

          <!-- LAYER NR. 5 -->
          <!--<div class="tp-caption SlidingOverlays-Title   tp-resizeme rs-parallaxlevel-3" id="slide-135-layer-1" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"-->
          <!--data-fontsize="['50','40','45','40']" data-lineheight="['70','55','45','45']" data-width="['none','none','600','480']" data-height="['none','none','139','139']" data-whitespace="['nowrap','nowrap','normal','normal']" data-transform_idle="o:1;"-->
          <!--data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"-->
          <!--data-start="1000" data-splitin="none" data-splitout="none" data-basealign="slide" data-responsive_offset="on" style="z-index: 9; white-space: nowrap; line-height: 70px;text-align:center;font-weight: 100;font-family:Lato;color:#606060;">Amaze your website visitors. </div>-->

          <!-- LAYER NR. 6 -->
          <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" id="slide-135-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['165','165','165','165']"
               data-fontweight="['400','100','100','100']" data-width="400" data-height="2" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;"
               data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-basealign="slide" data-responsive_offset="on" style="z-index: 10;background-color:rgba(255, 255, 255, 0.25);border-color:rgba(0, 0, 0, 0.50);">
          </div>

          <div class="tp-caption SlidingOverlays-Title   tp-resizeme rs-parallaxlevel-2" id="slide-135-layer-1" data-x="['left','left','left','left']" data-hoffset="['200','200','200','200']" data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','-15','-15']"
               data-fontsize="['20','20','20','20']" data-lineheight="['70','55','45','45']" data-width="['none','none','600','480']" data-height="['none','none','139','139']" data-whitespace="['nowrap','nowrap','normal','normal']" data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-start="1000" data-splitin="none" data-splitout="none" data-basealign="slide" data-responsive_offset="on" style="z-index: 9; white-space: nowrap; line-height: 70px;text-align:center;font-weight: 100;font-family:Lato;color:#606060;text-align: right;"><%= t(".feature") %>
            <br>從購買到指派安裝只需要<span class="red">三天</span>的時間迅速讓您的家煥然一新<br>
            <span>購買、保固、安裝、客服、技術提供一條龍讓你更省事</span></div>

          <!--<div class="tp-caption SlidingOverlays-Title   tp-resizeme rs-parallaxlevel-2" id="slide-135-layer-1" data-x="['left','left','left','left']" data-hoffset="['250','250','250','250']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"-->
               <!--data-fontsize="['25','25','25','20']" data-lineheight="['70','55','45','45']" data-width="['none','none','600','480']" data-height="['none','none','139','139']" data-whitespace="['nowrap','nowrap','normal','normal']" data-transform_idle="o:1;"-->
               <!--data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"-->
               <!--data-start="1000" data-splitin="none" data-splitout="none" data-basealign="slide" data-responsive_offset="on" style="z-index: 9; white-space: nowrap; line-height: 70px;text-align:center;font-weight: 100;font-family:Lato;color:#606060;text-align: right;">-->
            <!--從購買到指派安裝只需要<span class="red">三天</span>的時間迅速讓您的家煥然一新<br>-->
            <!--<span>購買、保固、客服、技術提供、安裝一條龍讓你更省事</span>-->
          <!--</div>-->

          <!-- LAYER NR. 7 -->
          <!--<div class="tp-caption NotGeneric-Title rs-parallaxlevel-2  tp-resizeme" id="slide-135-layer-9" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['1','1','1','1']" data-width="none"-->
          <!--data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="1850" data-splitin="none" data-splitout="none" data-responsive_offset="on"-->
          <!--style="z-index: 11; white-space: nowrap; font-weight: 100;font-family:Lato;color:#606060; font-size: 35px;">Engage visitors with 3D effects! </div>-->
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function($) {
    var tpj=jQuery;
    var revapi56;
    tpj(document).ready(function() {
      if(tpj("#rev_slider_56_1").revolution == undefined){
        revslider_showDoubleJqueryError("#rev_slider_56_1");
      }else{
        revapi56 = tpj("#rev_slider_56_1").show().revolution({
          sliderType:"standard",
          sliderLayout:"fullscreen",
          dottedOverlay:"none",
//          delay:2000,
          responsiveLevels:[1240,1024,778,480],
          visibilityLevels:[1240,1024,778,480],
          gridwidth:[1240,1024,778,480],
          gridheight:[768,668,960,720],
          lazyType:"single",
          parallax: {
            type:"3D",
            origo:"slidercenter",
            speed:400,
//            levels:[50,10,8,15,20,30,35,40,0,50,47,48,49,50,51,55],
            levels:[10,0,40,40,70,60,100,40,0,50,47,48,49,50,51,55],
            type:"3D",
            ddd_shadow:"off",
            ddd_bgfreeze:"off",
            ddd_overflow:"hidden",
            ddd_layer_overflow:"visible",
            ddd_z_correction:65,
          },
          spinner:"off",
          stopLoop:"on",
          stopAfterLoops:0,
          stopAtSlide:1,
          shuffle:"off",
          autoHeight:"off",
          fullScreenAutoWidth:"off",
          fullScreenAlignForce:"off",
          fullScreenOffsetContainer: "",
          fullScreenOffset: "60px",
          disableProgressBar:"on",
          hideThumbsOnMobile:"off",
          hideSliderAtLimit:0,
          hideCaptionAtLimit:0,
          hideAllCaptionAtLilmit:0,
          debugMode:false,
          fallbacks: {
            simplifyAll:"off",
            nextSlideOnWindowFocus:"off",
            disableFocusListener:false,
          }
        });
      }
    });	/*ready*/

  });
</script>
