<section class="content-section">
  <div class="container">
    <div class="row text-center">

      <!-- ========== SECTION HEADER ========== -->
      <div class="col-md-12 section-header mt40">
        <h3 class="section-title underline"><%= t(".why_change_old") %></h3>
        <p class="section-subtitle"></p>
      </div> <!-- end section-header -->

      <div class="col-md-4 mb50">
        <div class="feature-box-4">
          <div class="icon">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </div>
          <h5 class="feature-title"><%= t(".why_1_title") %></h5>
          <p class="feature-desc"><%= t(".why_1_subtitle") %></p>
        </div> <!-- end feature-box-4 -->
      </div> <!-- end col-md-4 -->
      <div class="col-md-4 mb50">
        <div class="feature-box-4">
          <div class="icon">
            <i class="fa fa-chain-broken" aria-hidden="true"></i>
          </div>
          <h5 class="feature-title"><%= t(".why_2_title") %></h5>
          <p class="feature-desc"><%= t(".why_2_subtitle") %></p>
        </div> <!-- end feature-box-4 -->
      </div> <!-- end col-md-4 -->
      <div class="col-md-4 mb50">
        <div class="feature-box-4">
          <div class="icon">
            <i class="ion-ios-bolt"></i>
          </div>
          <h5 class="feature-title"><%= t(".why_3_title") %></h5>
          <p class="feature-desc"><%= t(".why_3_subtitle") %></p>
        </div> <!-- end feature-box-4 -->
      </div> <!-- end col-md-4 -->

      <div class="col-md-4 mb50">
        <div class="feature-box-4">
          <div class="icon">
            <i class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <h5 class="feature-title"><%= t(".why_4_title") %></h5>
          <p class="feature-desc"><%= t(".why_4_subtitle") %></p>
        </div> <!-- end feature-box-4 -->
      </div> <!-- end col-md-4 -->
      <div class="col-md-4 mb50">
        <div class="feature-box-4">
          <div class="icon">
            <i class="fa fa-fire" aria-hidden="true"></i>
          </div>
          <h5 class="feature-title"><%= t(".why_5_title") %></h5>
          <p class="feature-desc"><%= t(".why_5_subtitle") %></p>
        </div> <!-- end feature-box-4 -->
      </div> <!-- end col-md-4 -->
      <div class="col-md-4 mb50">
        <div class="feature-box-4">
          <div class="icon">
            <i class="fa fa-compress" aria-hidden="true"></i>
          </div>
          <h5 class="feature-title"><%= t(".why_6_title") %></h5>
          <p class="feature-desc"><%= t(".why_6_subtitle") %></p>
        </div> <!-- end feature-box-4 -->
      </div> <!-- end col-md-4 -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section>