<section class="content-section pbn hidden">

  <div class="container">
    <div class="row">

      <!-- ========== SECTION HEADER ========== -->
      <div class="col-md-12 section-header text-center">
        <h3 class="section-title underline"><%= t(".pop_products") %></h3>
        <p class="section-subtitle"><%= t(".pop_products_subtitle") %></p>
      </div> <!-- end section-header -->
    </div> <!-- end row -->
  </div> <!-- end container -->
  <div class="">
    <!-- ========== MASONRY PORTFOLIO ========== -->
    <div id="js-grid-masonry" class="cbp">

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item identity">
        <a href="<%= image_path "images/portfolio/380-570/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="Easy Note<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-570/01.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Easy Note</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item web-design">
        <a href="<%= image_path "images/portfolio/380-360/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="The Gang Blue<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/01.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">The Gang Blue</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item graphic identity">
        <a href="http://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-caption cbp-lightbox" data-title="Tiger<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/02.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Tiger</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item graphic">
        <a href="<%= image_path "images/portfolio/380-570/02.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-570/02.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->
      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item identity">
        <a href="<%= image_path "images/portfolio/380-570/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-570/03.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item graphic">
        <a href="<%= image_path "images/portfolio/380-360/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Remind~Me More<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/03.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Remind~Me More</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item web-design">
        <a href="<%= image_path "images/portfolio/380-360/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/04.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Workout Buddy</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item identity">
        <a href="http://vimeo.com/156783#" class="cbp-caption cbp-lightbox" data-title="Volume Knob<br>by Paul Flavius Nechita">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/05.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Volume Knob</div>
                <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item identity">
        <a href="<%= image_path "images/portfolio/380-570/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Ski * Buddy<br>by Tiberiu Neamu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-570/04.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Ski * Buddy</div>
                <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item web-design graphic">
        <a href="http//www.youtube.com/watch?v=dChhzNGHgnA" class="cbp-caption cbp-lightbox" data-title="Virtualization Icon<br>by Paul Flavius Nechita">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/06.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Virtualization Icon</div>
                <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item web-design graphic">
        <a href="<%= image_path "images/portfolio/380-360/07.jpg"%>" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Paul Flavius Nechita">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/07.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">World Clock Widget</div>
                <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

      <!-- ========== PORTFOLIO ITEM ========== -->
      <div class="cbp-item web-design graphic">
        <a href="<%= image_path "images/portfolio/380-360/08.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Sickpuppy<br>by Cosmin Capitanu">
          <div class="cbp-caption-defaultWrap">
            <img src="<%= image_path("images/portfolio/380-360/08.jpg") %>" alt="">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Sickpuppy</div>
                <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
              </div> <!-- end cbp-l-caption-body -->
            </div> <!-- end cbp-l-caption-alignCenter -->
          </div> <!-- end cbp-caption-activeWrap -->
        </a>
      </div> <!-- end cbp-item -->

    </div> <!-- end js-grid-masonry -->
  </div>
</section>