
<!-- ========== MAIN ========== -->
<div class="main">

  <!-- ========== PAGE TITLE ========== -->
  <div class="page-title-div gradient-bg">
    <div class="container">
      <div class="row page-title-row">

        <div class="col-md-6">
          <h1 class="page-title">Contact Us</h1>
          <p>Something more about this page.</p>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb pull-right border-0">
            <li><a href="#" class="trans">Home</a></li>
            <li><a href="#" class="trans">Pages</a></li>
            <li><a href="#" class="active trans">Contact Us</a></li>
          </ol>
        </div>

      </div> <!-- end page-title-row -->
    </div> <!-- end container -->
  </div> <!-- end page-title-div -->

  <section class="content-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4">

          <!-- ========== SECTION HEADER ========== -->
          <div class="section-header">
            <h3 class="section-title underline">We are here!</h3>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div> <!-- end section-header -->

          <div class="mb50 col-sm-6 col-md-12">
            <h6 class="underline">Address</h6>
            <p>A203, Ishwarya Residency, <br>
              Kaspate Wasti, Wakad Road, <br>
              Pune, India - 411 057</p>
          </div>

          <div class="mb50 col-sm-6 col-md-12">
            <h6 class="underline">Contact Us</h6>
            <p>+1 (123) 456-7890 <br>
              +1 (456) 567-1234 <br>
              support@themesease.com</p>
          </div>
        </div> <!-- end col-md-4 -->

        <div class="col-md-8 ui form">

          <!-- ========== SECTION HEADER ========== -->
          <div class="section-header">
            <h3 class="section-title underline">Drop us a line!</h3>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div> <!-- end section-header -->

          <%= form_for Message.new , url: messages_path , method: :post  do |f| %>
              <div class="two fields">
                <div class="six wide field">
                  <%= f.label :name ,"姓名"%>
                  <%= f.text_field :name,value: current_user.try(:name), :required => true %>
                </div>
                <div class="ten wide field">
                  <%= f.label :phone ,"電話"%>
                  <%= f.telephone_field :phone,value: current_user.try(:phone), :required => true %>
                </div>
              </div>
              <div class="field">
                <%= f.label :email ,"信箱"%>
                <%= f.email_field :email ,value: current_user.try(:alternate_email_check), :required => true%>
              </div>

                <div class="field">
                  <%= f.label :problem ,"問題"%>
                  <%= f.select :problem, options_for_select([ ["產品及價格"],["退款"],[ "BUG"],["技術問題"] ], "產品及價格"),{},class:"ui dropdown" %>
                </div>

              <div class="field">
                <%= f.label :message ,"訊息"%>
                <%= f.text_area :message,rows:"2" %>
              </div>
                  <%= f.submit "送出",class:"ui button red"  %>
          <% end %>
        </div> <!-- end col-md-8 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

</div> <!-- end main -->

<script type="text/javascript" charset="utf-8">
  $('.ui.dropdown').dropdown();
</script>