
<!-- ========== MAIN ========== -->
<div class="main">

  <%= render 'welcome_header' %>

  <section class="content-section">
    <div class="container">
      <div class="row">

        <div class="col-md-3 mt15">
          <ul class="list-group mb60 product_sidebar">
            <li class="list-group-item">
              <%= link_to download_path(anchor: "price_list"),class:"item" do%>
                  <div>
                    <span>牌價表下載區</span>
                  </div>
                  <span>1T / QT/ FK 牌價表</span>
              <% end %>
            </li>
            <li class="list-group-item">
              <%= link_to download_path(anchor: "categories"),class:"item" do%>
                  <div>
                    <span>目錄下載區</span>
                  </div>
                  <span>1T / QT/ FK 產品總目錄</span>
              <% end %>
            </li>
            <li class="list-group-item">
              <%= link_to download_path(anchor: "line_rules"),class:"item" do%>
                  <div>
                    <span>線路圖下載區</span>
                  </div>
                  <span>各式開關插座電路圖</span>
              <% end %>
            </li>
          </ul>

        </div>
        <div class="col-md-9">

          <a id="price_list" class="anchor"></a>
          <table class="ui celled striped table">
            <thead>
            <tr><th colspan="3">
              <%= t(".price_list") %>
            </th>
            </tr></thead>
            <tbody>
            <tr>
              <td>
                <i class="file outline icon"></i>PDF
              </td>
              <td>1T 系列豪華晶鑽輕觸式開關插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/1T-price.pdf">下載</a>
              </td>
            </tr>
            <tr>
              <td>
                <i class="file outline icon"></i>PDF
              </td>
              <td>FK/QT/QTW 系列精密大型押板螢光開關</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/FK+QT+QTW-price.pdf">下載</a>
              </td>
            </tr>
            <tr>
              <td>
                <i class="file outline icon"></i>PDF
              </td>
              <td>FK/QT/QTW 系列精密大型押板插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/FK+QT+QTW-price-2.pdf">下載</a>
              </td>
            </tr>
            </tbody>
          </table>
          <a id="categories" class="anchor"></a>
          <table class="ui celled striped table">
            <thead>
            <tr><th colspan="3">
              <%= t(".category") %>
            </th>
            </tr></thead>
            <tbody>
            <tr>
              <td><i class="file outline icon"></i>PDF</td>
              <td>1T 系列豪華晶鑽輕觸式開關插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/1t.pdf">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>PDF</td>
              <td>QT 系列精密大型押板螢光開關插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/qt.pdf">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>PDF</td>
              <td>FK 系列精密大型押板螢光開關插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/fk.pdf">下載</a>
              </td>
            </tr>
            </tbody>
          </table>
          <a id="line_rules" class="anchor"></a>
          <table class="ui celled striped table">
            <thead>
            <tr><th colspan="3">
              <%= t(".line_rule") %>
            </th>
            </tr></thead>
            <tbody>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>cat 5e 資訊插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/cat5e.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td> cat 6 資訊插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/cat6.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>9004 電壓回流器</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/9004.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>卡式調光器</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/004.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>卡式電視插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/005.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>四迴路開關</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/006.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>四線式感應開關</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/007.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>燈具延遲開關</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/008.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>單插座</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/009.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>單插接地</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/010.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>開關單切</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/011.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>開關雙切 ( 三路 )</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/012.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>電捲門開關</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/013.jpg">下載</a>
              </td>
            </tr>
            <tr>
              <td><i class="file outline icon"></i>JPG</td>
              <td>調光器經開關控制</td>
              <td class="right aligned">
                <a href="http://fusaki.com.tw/image/page/download/014.jpg">下載</a>
              </td>
            </tr>
            </tbody>
          </table>




        </div> <!-- end col-md-9 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content-section -->

</div> <!-- end main -->

