
<!-- ========== MAIN ========== -->
<div class="main">
  <!-- ========== REVOLUTION SLIDER ========== -->
 <%= render 'animation_header' %>
  <!-- ========== CONTENT SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline"><%= t(".feature") %></h3>
          <p class="section-subtitle"><%= t(".feature_subtitle") %></p>
        </div> <!-- end section-header -->

        <!-- ========== FEATURE BOXES ========== -->
        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title"><%= t(".feature_1") %></h5>
          <p class="feature-desc"><%=simple_format t(".feature_1_content") %></p>
        </div> <!-- end feature -->

        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title"><%= t(".feature_2") %></h5>
          <p class="feature-desc"><%=simple_format t(".feature_2_content") %></p>
        </div> <!-- end feature -->

        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title"><%= t(".feature_3") %></h5>
          <p class="feature-desc"><%=simple_format t(".feature_3_content") %></p></p>
        </div> <!-- end feature -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>


  <!-- ========== ABOUT & HISTORY SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">
        <!-- ========== LEFT PART ========== -->
        <div class="col-md-6 text-left">
          <h5 class="section-title mb10"><%= t(".diy_cons") %></h5>
          <p class="section-subtitle mb30"><%= t(".diy_cons_subtitle") %></p>
          <p class="section-desc mb30"><%= t(".diy_content_html") %></p>
        </div> <!-- end col-md-6 -->

        <!-- ========== RIGHT PART ========== -->
        <div class="col-md-6">
          <h5 class="section-title mb10"><%= t(".purchase_flow") %></h5>
          <p class="section-subtitle mb30"><%= t(".purchase_subtitle") %></p>
          <div class="timeline">
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-paper-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[0] %></h5>
                <p class="red_span"><%= t(".step_content_1_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-book-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[1] %></h5>
                <p class="red_span"><%= t(".step_content_2_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-pricetags-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[2] %></h5>
                <p class="red_span"><%= t(".step_content_3_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-cog-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[3] %></h5>
                <p class="red_span"><%= t(".step_content_4_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
          </div> <!-- end timeline -->
        </div> <!-- end col-md-6 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- ========== PORTFOLIO SECTION ========== -->
  <section class="content-section pbn">

    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline"><%= t(".pop_products") %></h3>
          <p class="section-subtitle"><%= t(".pop_products_subtitle") %></p>
        </div> <!-- end section-header -->
      </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="">
      <!-- ========== MASONRY PORTFOLIO ========== -->
      <div id="js-grid-masonry" class="cbp">

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="Easy Note<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/01.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Easy Note</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design">
          <a href="<%= image_path "images/portfolio/380-360/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="The Gang Blue<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/01.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">The Gang Blue</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic identity">
          <a href="http://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-caption cbp-lightbox" data-title="Tiger<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/02.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiger</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic">
          <a href="<%= image_path "images/portfolio/380-570/02.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/02.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->
        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/03.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic">
          <a href="<%= image_path "images/portfolio/380-360/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Remind~Me More<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/03.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Remind~Me More</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design">
          <a href="<%= image_path "images/portfolio/380-360/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/04.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Workout Buddy</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="http://vimeo.com/156783#" class="cbp-caption cbp-lightbox" data-title="Volume Knob<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/05.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Volume Knob</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Ski * Buddy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/04.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Ski * Buddy</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="http//www.youtube.com/watch?v=dChhzNGHgnA" class="cbp-caption cbp-lightbox" data-title="Virtualization Icon<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/06.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Virtualization Icon</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="<%= image_path "images/portfolio/380-360/07.jpg"%>" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/07.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">World Clock Widget</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="<%= image_path "images/portfolio/380-360/08.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Sickpuppy<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/08.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Sickpuppy</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

      </div> <!-- end js-grid-masonry -->
    </div>
  </section>

  <!-- ========== CONTENT SECTION WITH FEATURES ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline"><%= t(".why_change_old") %></h3>
          <p class="section-subtitle"></p>
        </div> <!-- end section-header -->

        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-eye-slash" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_1_title") %></h5>
            <p class="feature-desc"><%= t(".why_1_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-chain-broken" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_2_title") %></h5>
            <p class="feature-desc"><%= t(".why_2_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-bolt"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_3_title") %></h5>
            <p class="feature-desc"><%= t(".why_3_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-certificate" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_4_title") %></h5>
            <p class="feature-desc"><%= t(".why_4_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-fire" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_5_title") %></h5>
            <p class="feature-desc"><%= t(".why_5_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-compress" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_6_title") %></h5>
            <p class="feature-desc"><%= t(".why_6_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>


</div> <!-- end main -->


<script>
//  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
//
//  ga('create', 'UA-75815870-6', 'auto');
//  ga('send', 'pageview');

</script>
<script src="<%= asset_path("welcome_index.js") %>"></script>
