
<!-- ========== MAIN ========== -->
<div class="main">
  <!-- ========== REVOLUTION SLIDER ========== -->
  <div id="rev_slider_46_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1" style="background-color:transparent;padding:0px;">

    <div id="rev_slider_46_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
      <ul>	<!-- SLIDE  -->
        <li data-index="rs-148" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="<%= image_path("images/demo-img-5.jpg") %>"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Welcome" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_path("images/demo-img-5.jpg") %>"  alt=""   data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="125" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->

          <!-- LAYER NR. 0 -->
          <div class="tp-caption tp-shape tp-shapewrapper" id="slide-148-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
               data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:500;s:500;" data-start="750" data-basealign="slide" data-responsive_offset="on"
               data-responsive="off" style="z-index: 4;text-transform:left;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0.50);"> </div>

          <!-- LAYER NR. 1 -->
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
               id="slide-148-layer-1"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
               data-fontsize="['80','80','60','45']"
               data-lineheight="['90','90','70','50']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-start="1000"
               data-splitin="words"
               data-splitout="none"
               data-responsive_offset="on"
               data-elementdelay="0.05"
               style="z-index: 5; white-space: nowrap;color:#fff;">Welcome To Salt
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
               id="slide-148-layer-4"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-start="1500"
               data-splitin="none"
               data-splitout="none"
               data-responsive_offset="on"
               data-fontsize="['16','16','15','14']"
               data-lineheight="['40','40','30','30']"

               style="z-index: 6; white-space: nowrap;color:#fff;">Your one stop solution for a stunning website!
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption st-btn hvr-back hvr-rectangle-out full-rounded  rs-parallaxlevel-0"
               id="slide-148-layer-7"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['124','124','124','123']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
               data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_out="x:inherit;y:inherit;"
               data-start="2000"
               data-splitin="none"
               data-splitout="none"
               data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
               data-responsive_offset="on"
               data-responsive="off"

               style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;cursor:pointer;">Know More
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0"
               id="slide-148-layer-9"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
               data-width="35"
               data-height="55"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-style_hover="cursor:pointer;"

               data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
               data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
               data-start="2000"
               data-splitin="none"
               data-splitout="none"
               data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
               data-basealign="slide"
               data-responsive_offset="off"
               data-responsive="off"

               style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                            <span>
                                            </span>

          </div>
        </li>
        <!-- SLIDE 2  -->
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div> <!-- end rev_slider -->
  </div> <!-- end rev_slider_wrapper -->

  <!-- ========== CONTENT SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline"><%= t(".feature") %></h3>
          <p class="section-subtitle"><%= t(".feature_subtitle") %></p>
        </div> <!-- end section-header -->

        <!-- ========== FEATURE BOXES ========== -->
        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title"><%= t(".feature_1") %></h5>
          <p class="feature-desc"><%=simple_format t(".feature_1_content") %></p>
        </div> <!-- end feature -->

        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title"><%= t(".feature_2") %></h5>
          <p class="feature-desc"><%=simple_format t(".feature_2_content") %></p>
        </div> <!-- end feature -->

        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title"><%= t(".feature_3") %></h5>
          <p class="feature-desc"><%=simple_format t(".feature_3_content") %></p></p>
        </div> <!-- end feature -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>


  <!-- ========== ABOUT & HISTORY SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">
        <!-- ========== LEFT PART ========== -->
        <div class="col-md-6 text-left">
          <h5 class="section-title mb10"><%= t(".diy_cons") %></h5>
          <p class="section-subtitle mb30"><%= t(".diy_cons_subtitle") %></p>
          <p class="section-desc mb30"><%= t(".diy_content_html") %></p>
          <a href="#" class="st-btn dark-btn full-rounded hvr-back hvr-rectangle-out">Read More</a>
        </div> <!-- end col-md-6 -->

        <!-- ========== RIGHT PART ========== -->
        <div class="col-md-6">
          <h5 class="section-title mb10"><%= t(".purchase_flow") %></h5>
          <p class="section-subtitle mb30"><%= t(".purchase_subtitle") %></p>
          <div class="timeline">
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-paper-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[0] %></h5>
                <p class="red_span"><%= t(".step_content_1_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-book-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[1] %></h5>
                <p class="red_span"><%= t(".step_content_2_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-pricetags-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[2] %></h5>
                <p class="red_span"><%= t(".step_content_3_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-cog-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10"><%= t(".step")[3] %></h5>
                <p class="red_span"><%= t(".step_content_4_html") %></p>
              </div>
            </div> <!-- end timeline-row -->
          </div> <!-- end timeline -->
        </div> <!-- end col-md-6 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- ========== PORTFOLIO SECTION ========== -->
  <section class="content-section pbn">

    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline"><%= t(".pop_products") %></h3>
          <p class="section-subtitle"><%= t(".pop_products_subtitle") %></p>
        </div> <!-- end section-header -->
      </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="">
      <!-- ========== MASONRY PORTFOLIO ========== -->
      <div id="js-grid-masonry" class="cbp">

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="Easy Note<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/01.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Easy Note</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design">
          <a href="<%= image_path "images/portfolio/380-360/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="The Gang Blue<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/01.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">The Gang Blue</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic identity">
          <a href="http://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-caption cbp-lightbox" data-title="Tiger<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/02.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiger</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic">
          <a href="<%= image_path "images/portfolio/380-570/02.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/02.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->
        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/03.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic">
          <a href="<%= image_path "images/portfolio/380-360/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Remind~Me More<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/03.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Remind~Me More</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design">
          <a href="<%= image_path "images/portfolio/380-360/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/04.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Workout Buddy</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="http://vimeo.com/156783#" class="cbp-caption cbp-lightbox" data-title="Volume Knob<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/05.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Volume Knob</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Ski * Buddy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/04.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Ski * Buddy</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="http//www.youtube.com/watch?v=dChhzNGHgnA" class="cbp-caption cbp-lightbox" data-title="Virtualization Icon<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/06.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Virtualization Icon</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="<%= image_path "images/portfolio/380-360/07.jpg"%>" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/07.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">World Clock Widget</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="<%= image_path "images/portfolio/380-360/08.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Sickpuppy<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/08.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Sickpuppy</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

      </div> <!-- end js-grid-masonry -->
    </div>
  </section>

  <!-- ========== CONTENT SECTION WITH FEATURES ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline"><%= t(".why_change_old") %></h3>
          <p class="section-subtitle"></p>
        </div> <!-- end section-header -->

        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-eye-slash" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_1_title") %></h5>
            <p class="feature-desc"><%= t(".why_1_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-chain-broken" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_2_title") %></h5>
            <p class="feature-desc"><%= t(".why_2_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-bolt"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_3_title") %></h5>
            <p class="feature-desc"><%= t(".why_3_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-certificate" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_4_title") %></h5>
            <p class="feature-desc"><%= t(".why_4_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-fire" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_5_title") %></h5>
            <p class="feature-desc"><%= t(".why_5_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="fa fa-compress" aria-hidden="true"></i>
            </div>
            <h5 class="feature-title"><%= t(".why_6_title") %></h5>
            <p class="feature-desc"><%= t(".why_6_subtitle") %></p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>


</div> <!-- end main -->
<script src="<%= asset_path("welcome_index.js") %>"></script>
