
<!-- ========== MAIN ========== -->
<div class="main">
  <!-- ========== REVOLUTION SLIDER ========== -->
  <div id="rev_slider_46_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1" style="background-color:transparent;padding:0px;">

    <div id="rev_slider_46_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
      <ul>	<!-- SLIDE  -->
        <li data-index="rs-148" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/demo-img-5.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Welcome" data-description="">
          <!-- MAIN IMAGE -->
          <img src="<%= image_path("images/demo-img-5.jpg") %>"  alt=""   data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="125" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->

          <!-- LAYER NR. 0 -->
          <div class="tp-caption tp-shape tp-shapewrapper" id="slide-148-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
               data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:500;s:500;" data-start="750" data-basealign="slide" data-responsive_offset="on"
               data-responsive="off" style="z-index: 4;text-transform:left;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0.50);"> </div>

          <!-- LAYER NR. 1 -->
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
               id="slide-148-layer-1"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
               data-fontsize="['80','80','60','45']"
               data-lineheight="['90','90','70','50']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-start="1000"
               data-splitin="words"
               data-splitout="none"
               data-responsive_offset="on"
               data-elementdelay="0.05"
               style="z-index: 5; white-space: nowrap;color:#fff;">Welcome To Salt
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
               id="slide-148-layer-4"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-start="1500"
               data-splitin="none"
               data-splitout="none"
               data-responsive_offset="on"
               data-fontsize="['16','16','15','14']"
               data-lineheight="['40','40','30','30']"

               style="z-index: 6; white-space: nowrap;color:#fff;">Your one stop solution for a stunning website!
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption st-btn hvr-back hvr-rectangle-out full-rounded  rs-parallaxlevel-0"
               id="slide-148-layer-7"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['124','124','124','123']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
               data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_out="x:inherit;y:inherit;"
               data-start="2000"
               data-splitin="none"
               data-splitout="none"
               data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
               data-responsive_offset="on"
               data-responsive="off"

               style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;cursor:pointer;">Know More
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0"
               id="slide-148-layer-9"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
               data-width="35"
               data-height="55"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-style_hover="cursor:pointer;"

               data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
               data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
               data-start="2000"
               data-splitin="none"
               data-splitout="none"
               data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
               data-basealign="slide"
               data-responsive_offset="off"
               data-responsive="off"

               style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                            <span>
                                            </span>

          </div>
        </li>
        <!-- SLIDE 2  -->
        <li data-index="rs-150" data-transition="fade" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="<%= image_path("images/demo-img-1.jpg") %>"  data-rotate="0"  data-saveperformance="off"  data-title="Smooth Ken Burns" data-description="">

          <!-- MAIN IMAGE -->
          <img src="<%= image_path "images/demo-img-1.jpg" %>"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="130" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>')
          <!-- LAYERS -->

          <!-- LAYER NR. 0 -->
          <!-- Uncomment this layer if you want black gradient over an image -->
          <!-- <div class="tp-caption tp-shape tp-shapewrapper" id="slide-150-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
              data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:500;s:500;" data-start="750" data-basealign="slide" data-responsive_offset="on"
              data-responsive="off" style="z-index: 4;text-transform:left;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0.50);"> </div> -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
               id="slide-150-layer-1"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
               data-fontsize="['80','80','60','45']"
               data-lineheight="['80','80','70','50']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"

               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-start="1000"
               data-splitin="words"
               data-splitout="none"
               data-responsive_offset="on"

               data-elementdelay="0.05"

               style="z-index: 5; white-space: nowrap;color:#fff;">Smooth Ken Burns
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
               id="slide-150-layer-4"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-start="1500"
               data-splitin="none"
               data-splitout="none"
               data-responsive_offset="on"

               style="z-index: 6; white-space: nowrap;color:#fff;">Smooth Animation For Background Slide
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption st-btn hvr-back hvr-rectangle-out full-rounded  rs-parallaxlevel-0"
               id="slide-150-layer-7"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['124','124','124','123']"
               data-width="none"
               data-height="none"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
               data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_out="x:inherit;y:inherit;"
               data-start="2000"
               data-splitin="none"
               data-splitout="none"
               data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
               data-responsive_offset="on"
               data-responsive="off"

               style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;cursor:pointer;">Know More
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption rev-scroll-btn  rs-parallaxlevel-0"
               id="slide-150-layer-9"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
               data-width="35"
               data-height="55"
               data-whitespace="nowrap"
               data-transform_idle="o:1;"
               data-style_hover="cursor:pointer;"

               data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
               data-transform_out="y:50px;opacity:0;s:1000;s:1000;"
               data-start="2000"
               data-splitin="none"
               data-splitout="none"
               data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
               data-basealign="slide"
               data-responsive_offset="off"
               data-responsive="off"

               style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 0.50);border-style:solid;border-width:1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                                            <span>
                                            </span>

          </div>
        </li>

      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div> <!-- end rev_slider -->
  </div> <!-- end rev_slider_wrapper -->

  <!-- ========== CONTENT SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline">Salt is Awesome</h3>
          <p class="section-subtitle">Best way to highlight top features on home page!</p>
        </div> <!-- end section-header -->

        <!-- ========== FEATURE BOXES ========== -->
        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="ion-ios-lightbulb-outline"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title">Professional Design</h5>
          <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> <!-- end feature -->

        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="ion-ios-rose-outline"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title">User Friendly</h5>
          <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> <!-- end feature -->

        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 feature text-center">
          <div class="icon underline longer-underline">
            <i class="ion-ios-monitor-outline"></i>
          </div> <!-- end icon -->
          <h5 class="feature-title">Retina Ready</h5>
          <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> <!-- end feature -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

  <!-- ========== CONTENT SECTION WITH PARALLAX IMAGE ON LEFT ========== -->
  <section class="content-section zero-padding parallax-section_my">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-8 col-md-offset-4 gray-bg">
          <div class="pt90 pl60 pr60 pb30 plxs30 prxs30">
            <div class="row">
              <div class="col-md-6 mb60">
                <h5 class="underline">Fully Responsive</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
              <div class="col-md-6 mb60">
                <h5 class="underline">Revolution Slider</h5>
                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb60">
                <h5 class="underline">Awesome Portfolio</h5>
                <p>Sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipisicing elit, magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. </p>
              </div>
              <div class="col-md-6 mb60">
                <h5 class="underline">SEO Optimized</h5>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div> <!-- end gray-bg -->
      </div> <!-- end row -->
    </div> <!-- end container-fluid -->
  </section>

  <!-- ========== TAB SECTION ========== -->
  <section class="content-section tabs-section hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">

            <!-- ========== NAV TABS ========== -->
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="pill"><i class="ion-arrow-resize"></i>Fully Responsive</a>
              </li>
              <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="pill"><i class="ion-ios-flask-outline"></i>Retina Ready</a>
              </li>
              <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="pill"><i class="ion-ios-camera-outline"></i>Revolution Slider</a>
              </li>
              <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="pill"><i class="ion-ios-time-outline"></i>Easy to use</a>
              </li>
              <li role="presentation">
                <a href="#settings2" aria-controls="settings2" role="tab" data-toggle="pill"><i class="ion-ios-pricetags-outline"></i>Well Documented</a>
              </li>
            </ul> <!-- end nav nav-pills -->

            <!-- ========== TAB PANES ========== -->
            <div class="tab-content text-left">

              <!-- ========== PANE 1 ========== -->
              <div role="tabpanel" class="tab-pane fade in active" id="home">
                <div class="col-md-7">
                  <h5 class="tab-title mb20">Fully Responsive</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-5 mt40">
                  <ul class="ul-style-4">
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                    <li><i class="fa fa-check list-icon"></i>Excepteur sint occaecat Lorem ipsum dolor</li>
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                  </ul>
                </div> <!-- end col-md-5 -->
              </div> <!-- end tab-pane -->

              <!-- ========== PANE 2 ========== -->
              <div role="tabpanel" class="tab-pane fade" id="profile">
                <div class="col-md-7">
                  <h5 class="tab-title mb20">Retina Ready</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-5 mt40">
                  <ul class="ul-style-4">
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                    <li><i class="fa fa-check list-icon"></i>Excepteur sint occaecat Lorem ipsum dolor</li>
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                  </ul>
                </div> <!-- end col-md-5 -->
              </div> <!-- end tab-pane -->

              <!-- ========== PANE 3 ========== -->
              <div role="tabpanel" class="tab-pane fade" id="messages">
                <div class="col-md-5 mt40">
                  <ul class="ul-style-4">
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                    <li><i class="fa fa-check list-icon"></i>Excepteur sint occaecat Lorem ipsum dolor</li>
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                  </ul>
                </div> <!-- end col-md-5 -->
                <div class="col-md-7">
                  <h5 class="tab-title mb20">Revolution Slider</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div> <!-- end tab-pane -->

              <!-- ========== PANE 4 ========== -->
              <div role="tabpanel" class="tab-pane fade" id="settings">
                <div class="col-md-5 mt40">
                  <ul class="ul-style-4">
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                    <li><i class="fa fa-check list-icon"></i>Excepteur sint occaecat Lorem ipsum dolor</li>
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                  </ul>
                </div> <!-- end col-md-5 -->
                <div class="col-md-7">
                  <h5 class="tab-title mb20">Easy to use</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div> <!-- end tab-pane -->

              <!-- ========== PANE 5 ========== -->
              <div role="tabpanel" class="tab-pane fade" id="settings2">
                <div class="col-md-5 mt40">
                  <ul class="ul-style-4">
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                    <li><i class="fa fa-check list-icon"></i>Excepteur sint occaecat Lorem ipsum dolor</li>
                    <li><i class="fa fa-check list-icon"></i>Lorem ipsum dolor Ut enim ad minim</li>
                    <li><i class="fa fa-check list-icon"></i>Nisi ut aliquip In voluptate velit</li>
                  </ul>
                </div> <!-- end col-md-5 -->
                <div class="col-md-7">
                  <h5 class="tab-title mb20">Well Documented</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div> <!-- end tab-pane -->

            </div> <!-- end tab-content -->
          </div> <!-- end text-center -->
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

  <!-- ========== FULL WIDTH FEATURE BOXES ========== -->
  <section>
    <div class="row feature-type-5">
      <div class="col-md-3">
        <div class="feature-box-5">
          <div class="icon">
            <i class="ion-ios-checkmark-outline"></i>
          </div>
          <h5 class="feature-title">Fully Responsive</h5>
          <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <i class="bg-icon ion-ios-paper-outline"></i>
        </div> <!-- end feature-box-5 -->
      </div>

      <div class="col-md-3">
        <div class="feature-box-5 black-box">
          <div class="icon">
            <i class="ion-ios-speedometer-outline"></i>
          </div>
          <h5 class="feature-title">Retina ready</h5>
          <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <i class="bg-icon ion-ios-keypad-outline"></i>
        </div> <!-- end feature-box-5 -->
      </div>

      <div class="col-md-3">
        <div class="feature-box-5">
          <div class="icon">
            <i class="ion-ios-flask-outline"></i>
          </div>
          <h5 class="feature-title">Easy to use</h5>
          <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <i class="bg-icon ion-ios-lightbulb-outline"></i>
        </div> <!-- end feature-box-5 -->
      </div>

      <div class="col-md-3">
        <div class="feature-box-5 black-box">
          <div class="icon">
            <i class="ion-ios-bolt-outline"></i>
          </div>
          <h5 class="feature-title">Fast Performance</h5>
          <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <i class="bg-icon ion-ios-recording-outline"></i>
        </div> <!-- end feature-box-5 -->
      </div>

    </div> <!-- end row -->
  </section>

  <!-- ========== PORTFOLIO SECTION ========== -->
  <section class="content-section pbn">

    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline">Portfolio</h3>
          <p class="section-subtitle">Display your products in the most attractive manner.</p>
        </div> <!-- end section-header -->

        <!-- ========== FILTERS ========== -->
        <div class="col-md-12">
          <div id="js-filters-masonry" class="cbp-l-filters-alignCenter">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
              All <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item">
              Identity <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item">
              Web Design <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic" class="cbp-filter-item">
              Graphic <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic, .identity" class="cbp-filter-item">
              Web Design & Identity <div class="cbp-filter-counter"></div>
            </div>
          </div> <!-- end js-filters-masonry -->
        </div> <!-- end col-md-offset-12 -->

      </div> <!-- end row -->
    </div> <!-- end container -->

    <div class="">

      <!-- ========== MASONRY PORTFOLIO ========== -->
      <div id="js-grid-masonry" class="cbp">

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="Easy Note<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-570/01.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Easy Note</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design">
          <a href="<%= image_path "images/portfolio/380-360/01.jpg" %>" class="cbp-caption cbp-lightbox" data-title="The Gang Blue<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-360/01.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">The Gang Blue</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic identity">
          <a href="http://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-caption cbp-lightbox" data-title="Tiger<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_path("images/portfolio/380-360/02.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiger</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic">
          <a href="<%= image_path "images/portfolio/380-570/02.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
           <img src="<%= image_path("images/portfolio/380-570/02.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-570/03.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item graphic">
          <a href="<%= image_path "images/portfolio/380-360/03.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Remind~Me More<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-360/03.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Remind~Me More</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design">
          <a href="<%= image_path "images/portfolio/380-360/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-360/04.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Workout Buddy</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="http://vimeo.com/156783#" class="cbp-caption cbp-lightbox" data-title="Volume Knob<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-360/05.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Volume Knob</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item identity">
          <a href="<%= image_path "images/portfolio/380-570/04.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Ski * Buddy<br>by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-570/04.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Ski * Buddy</div>
                  <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="http//www.youtube.com/watch?v=dChhzNGHgnA" class="cbp-caption cbp-lightbox" data-title="Virtualization Icon<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-360/06.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Virtualization Icon</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="<%= image_path "images/portfolio/380-360/07.jpg"%>" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-360/07.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">World Clock Widget</div>
                  <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

        <!-- ========== PORTFOLIO ITEM ========== -->
        <div class="cbp-item web-design graphic">
          <a href="<%= image_path "images/portfolio/380-360/08.jpg"%>" class="cbp-caption cbp-lightbox" data-title="Sickpuppy<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
             <img src="<%= image_path("images/portfolio/380-360/08.jpg") %>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Sickpuppy</div>
                  <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                </div> <!-- end cbp-l-caption-body -->
              </div> <!-- end cbp-l-caption-alignCenter -->
            </div> <!-- end cbp-caption-activeWrap -->
          </a>
        </div> <!-- end cbp-item -->

      </div> <!-- end js-grid-masonry -->
    </div>
  </section>

  <!-- ========== CONTENT SECTION WITH FEATURES ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== SECTION HEADER ========== -->
        <div class="col-md-12 section-header text-center">
          <h3 class="section-title underline">Features</h3>
          <p class="section-subtitle">What you need is what we give!</p>
        </div> <!-- end section-header -->

        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-list-outline"></i>
            </div>
            <h5 class="feature-title">Well coded</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-speedometer-outline"></i>
            </div>
            <h5 class="feature-title">SEO Friendly</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-bolt"></i>
            </div>
            <h5 class="feature-title">Fast Performance</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-checkmark-outline"></i>
            </div>
            <h5 class="feature-title">Professional Design</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-android-hand"></i>
            </div>
            <h5 class="feature-title">Dedicated Support</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mb50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-image"></i>
            </div>
            <h5 class="feature-title">Parallax Background</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 mbsm50 mbxs50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-settings-strong"></i>
            </div>
            <h5 class="feature-title">Gradient Backgrounds</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4 mbsm50 mbxs50">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-infinite"></i>
            </div>
            <h5 class="feature-title">Infinite Possibilities</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->
        <div class="col-md-4">
          <div class="feature-box-4">
            <div class="icon">
              <i class="ion-ios-medical"></i>
            </div>
            <h5 class="feature-title">Truly Multi-purpose</h5>
            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> <!-- end feature-box-4 -->
        </div> <!-- end col-md-4 -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

  <!-- ========== ABOUT & HISTORY SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row">

        <!-- ========== LEFT PART ========== -->
        <div class="col-md-6 text-right">
          <h5 class="section-title mb10">About Us</h5>
          <p class="section-subtitle mb30">We love our clients. </p>
          <p class="section-desc mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,  sed do eiusmod tempor incididunt utt enim ad minim veniam.</p>
          <p class="section-desc mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p class="section-desc mb30">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" class="st-btn dark-btn full-rounded hvr-back hvr-rectangle-out">Read More</a>
        </div> <!-- end col-md-6 -->

        <!-- ========== RIGHT PART ========== -->
        <div class="col-md-6">
          <h5 class="section-title mb10">Our Process</h5>
          <p class="section-subtitle mb30">Our clients love our process. </p>
          <div class="timeline">
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-paper-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10">Step 1</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-book-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10">Step 2</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-pricetags-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10">Step 3</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div> <!-- end timeline-row -->
            <div class="timeline-row">
              <div class="tm-icon">
                <span class="ion-ios-cog-outline"></span>
              </div>
              <div class="tm-detail">
                <h5 class="mb10">Step 4</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div> <!-- end timeline-row -->
          </div> <!-- end timeline -->
        </div> <!-- end col-md-6 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

  <!-- ========== FULL WIDTH CTA ========== -->
  <section class="cta trans">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h5 class="cta-title">Get in touch</h5>
          <p class="cta-desc mb20">Whenever you need us or just to say hi!</p>
          <a href="pages-contact-us-1.html" class="st-btn primary-btn full-rounded">Contact Us</a>
        </div> <!-- end text-center -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

  <!-- ========== PARALLAX SECTION WITH COUNTER ========== -->
  <section class="parallax-window" data-parallax="scroll" data-image-src="<%= image_path "images/bg-img-1.jpg" %>" data-speed="0.6">
    <div class="pt80 pb80">
      <div class="container">
        <div class="row">

          <!-- ========== COUNTER ========== -->
          <div class="col-md-3 col-sm-6">
            <div class="counter-box text-center">
              <div class="count-info">
                <h6><span class="counter">11000</span></h6>
                <p>delighted clients.</p>
              </div> <!-- end count-info -->
              <span class="count-icon ion-happy-outline"></span>
            </div> <!-- end counter-box -->
          </div> <!-- end col-md-3 -->
          <div class="col-md-3 col-sm-6">
            <div class="counter-box text-center">
              <div class="count-info">
                <h6><span class="counter">2200</span></h6>
                <p>projects done.</p>
              </div> <!-- end count-info -->
              <span class="count-icon ion-ios-flag-outline"></span>
            </div> <!-- end counter-box -->
          </div> <!-- end col-md-3 -->
          <div class="col-md-3 col-sm-6">
            <div class="counter-box text-center">
              <div class="count-info">
                <h6><span class="counter">7000</span></h6>
                <p>cups of tea.</p>
              </div> <!-- end count-info -->
              <span class="count-icon ion-ios-flame-outline"></span>
            </div> <!-- end counter-box -->
          </div> <!-- end col-md-3 -->
          <div class="col-md-3 col-sm-6">
            <div class="counter-box text-center">
              <div class="count-info">
                <h6><span class="counter">120</span></h6>
                <p>devices tested.</p>
              </div> <!-- end count-info -->
              <span class="count-icon ion-ios-albums-outline"></span>
            </div> <!-- end counter-box -->
          </div> <!-- end col-md-3 -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end white-grad -->
  </section>

</div> <!-- end main -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75815870-6', 'auto');
  ga('send', 'pageview');
</script>
<script src="<%= asset_path("init.js") %>"></script>