
<div class="main">
  <%= render 'explodes' %>
  <section class="content-section zero-padding parallax-section" data-parallax="scroll" data-image-src="<%= image_path('construction1.jpg') %>" data-speed="0.4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-6 white-bg">
          <div class="pt40 pl30 pr30 pb30 plxs30 prxs30">
            <div class="row">
              <div class="col-md-12 text-left pr30">
                <h3><%= t(".diy_cons") %></h3>
                <p class="section-subtitle mb10"><%= t(".diy_cons_subtitle") %></p>
                <p class="section-desc mb20">
                <h5 class="mt15 fwl">關掉總電源</h5>
                <span class="red "><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>忘記關發生觸電意外</span>
                <h5 class="mt15 fwl">拆解插座與牆壁分離</h5>
                <span class="red "> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>此動作需有專業知識,如暴力施作會發生外殼爆裂造成割傷</span><br>
                <span class="red "><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>不正確施工將導致銅線受損，導致長期電線過熱而帶來的危險</span>
                <h5 class="mt15 fwl">研究文字天書的電路圖</h5><span class="red "><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>不知哪條是電源線、燈具線、接地線 接錯導致故障</span>
                <h5 class="mt15 fwl">未將銅線正確插入</h5><span class="red "><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>沒有插到底造成銅線鬆脫導致接觸不良發生高溫</span>
                <p class="mt30">以上步驟為最簡單的插座施作方式非專業人士第一次施作“單顆”需一小時以上且還有出錯可能和危險！</p>
                </p>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="compare_table">
   <div class="row mln mrn mb60 mt60">
     <div class="col-sm-7 col-sm-offset-1 col-xs-12">
     <%= render 'blogs/compare_table' %>
     </div>
     <div class="col-sm-4 hidden-xs">
       <%= image_tag 'blog/money_question_1.jpg',class:'img-responsive' %>
     </div>
   </div>

  </section>
  <section class="content-section pbn ptn three_feature">
    <div class="row mrn">
      <div class="col-sm-4  feature text-center pb60 pt60">
        <div class="icon mb30">
          <i class="fa-2x fa fa-shield" aria-hidden="true"></i>
        </div>
        <h4 class="feature-title"><%= t(".feature_1") %></h4>
        <p class="feature-desc"><%=simple_format t(".feature_1_content") %></p>
      </div>

      <div class="col-sm-4  feature text-center pb60 pt60">
        <div class="icon mb30">
          <i class="fa-2x fa fa-home" aria-hidden="true"></i>
        </div>
        <h4 class="feature-title"><%= t(".feature_2") %></h4>
        <p class="feature-desc"><%=simple_format t(".feature_2_content") %></p>
      </div>

      <div class="col-sm-4  feature text-center pb60 pt60">
        <div class="icon mb30">
          <i class="fa-2x fa fa-phone" aria-hidden="true"></i>
        </div>
        <h4 class="feature-title"><%= t(".feature_3") %></h4>
        <p class="feature-desc"><%=simple_format t(".feature_3_content") %></p>
      </div>

    </div>
  </section>
  <%= render 'achievement' %>
</div>



<%= javascript_include_tag 'main/my_vendor'%>


