<div class="main">
  <%= render 'welcome_header' %>
  <section class="content-section introduction_fix parallax-section" data-parallax="scroll" data-image-src="<%= image_path('introduce.jpg') %>" data-speed="0.4" >
    <div class="container">
      <div class="section-header text-right">
        <h3 class="section-title mt30"><%= t("share.vision") %></h3>
        <p class="section-subtitle mt30"><%= simple_format t("share.company_feature") %></p>
      </div>
      <div class="row mt60 mb60">
        <div class="col-md-12 text-left">
          <h5 class="mb40"><%= t(".start") %></h5>
          <p class="section"><%= t(".certificate") %></p>
          <p class="section"><%= t(".economic") %></p>
          <p class="section"><%= t(".descible")[2] %></p>
          <p class="section"><%= t(".descible")[4] %></p>
          <p class="section"><%= t(".descible")[1] %></p>
          <p class="section"><%= t(".descible")[3] %></p>
        </div> <!-- end col-md-7 -->

        <!--<div class="col-md-6">-->
          <!--<h5>五大特色</h5>-->
          <!--<ul class="ul-style-3">-->
            <!--<li><%#= t(".descible")[5] %></li>-->
            <!--<li><%#= t(".descible")[6] %></li>-->
            <!--<li><%#= t(".descible")[7] %></li>-->
            <!--<li><%#= t(".descible")[8] %></li>-->
            <!--<li><%#= t(".descible")[9] %></li>-->
            <!--<li><%#= t(".descible")[10] %></li>-->
          <!--</ul>-->
        <!--</div>-->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>
  <!-- ========== FAQs STYLE 1 ========== -->

</div> <!-- end main -->
