
<div class="field mt30" id="order" data-shipfee="<%= Order.ship_fee %>" data-ship_fee_boundary="<%= Order.ship_fee_boundary %>" data-discount_percent="<%= Order.discount_percent %>" data-traffic_allowanc="<%= Order.traffic_allowanc %>" data-traffic_allowanc_boundary="<%= Order.traffic_allowanc_boundary %>" data-cartamount="<%= cart_or_order.amount %>">

  <%= content_for :whoset do %>
      <div class="field whoset_modify">
      <h4><%= f.label :whoset ,t('form.who_set') %></h4>
      <%= f.select :whoset, options_for_select([[ '本公司派專業師傅安裝'],['自行安裝'] ], select_default(@order)),{},{class:"ui dropdown fluid" ,id:"whoset"}%>
      </div>
  <% end %>

  <div class="three fields">
    <div class="four wide field">
      <%= f.label :name ,t('form.name') %>
      <%= f.text_field :name,value: current_user.try(:name) %>
    </div>
    <div class="six wide field">
      <%= f.label :phone ,t('form.phone') %>
      <%= f.telephone_field :phone,value: current_user.try(:phone) %>
    </div>
    <div class="six wide field">
      <%= f.label :email ,t('form.email') %>
      <%= f.email_field :email ,value: current_user.alternate_email_check%>
    </div>
  </div>
  <div class="three fields">
    <div class=" field">
      <%= f.label :county ,t('form.county') %>
      <%= f.select :county, {},{ include_blank: '選擇縣市'},{class:"ui dropdown fluid" ,id:"county"  }%>
    </div>
    <div class=" field">
      <%= f.label :district ,t('form.district') %>
      <%= f.select :district, {}, { include_blank: '請先選擇縣市'},{class:"ui dropdown fluid" ,id:"district"}%>
    </div>
    <div class=" field">
      <%= f.label :postcode ,t('form.postcode') %>
      <%= f.text_field :postcode , value:"", id:"postcode" ,placeholder:"郵遞區號" ,:readonly => true%>
    </div>
  </div>
  <div class="field">
    <p class="red mbn"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 選擇本公司派師傅到府安裝僅限於台北市、新北市、桃園市</p>
  </div>
  <div class="two fields">
    <div class="eleven wide field">
      <%= f.label :address ,t('form.address') %>
      <%= f.text_field :address ,value: current_user.try(:address)%>
    </div>
    <div class="five wide field">
      <%= f.label :ship_time ,t('form.ship_time') %>
      <%= f.select :ship_time, options_for_select([[ '都可以'],['早上9點到12點'], ['下午1點到4點'] ], '都可以'),{},class:"ui dropdown fluid" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :ps ,t('form.ps') %>
    <%= f.text_area :ps,rows:"3" %>
  </div>
  <% if action_name == "new" && current_cart.total == 0 %>
      <%= f.submit t('button.buy_yet') ,class:"ui button red disabled fluid" %>
  <% else %>
      <%= f.submit t('button.confirm'), class:"ui button red fluid" %>
  <% end %>

</div>
<%= content_for :whoset %>
<style>

</style>