<div class="ui segment">
  <div class="order_notice">
    <h5><%= t('.deliver_fee') %></h5>
    <p><%= t('.deliver_fee_content') %></p>
  </div>
</div>
<div class="ui segment">
  <div class="order_notice">
    <h5><%= t('.3500_gift') %></h5>
    <p>您有想過離水源最近的廚房和浴室的插座，是最有可能發生意外的地方嗎？滿額就送<%= link_to '【防水蓋乙個】' %></p>
  </div>
</div>
<div class="ui segment">
  <div class="order_notice">
    <h5><%= t('.discount') %></h5>
    <p><%= t('.discount_content') %></p>
  </div>
</div>
<div class="ui segment">
  <div class="order_notice">
    <h5><%= t('.pro_work') %></h5>
    <p><%= t('.pro_work_content') %></p>
  </div>
</div>