<div class="ui segment">
  <div class="order_notice">
    <h6>自行安裝者滿 <span><%= Order.ship_fee_boundary %></span> 免運費 <span><%= Order.ship_fee %>元</span></h6>
    <!--<p>滿<%#= Order.ship_fee_boundary %>以上不管數量、重量、體積大小多重，通通一律 0 元</p>-->
  </div>
</div>
<div class="ui segment">
  <div class="order_notice">
    <h6>師傅到府安裝者滿 <span><%= Order.traffic_allowanc_boundary %></span> 免車馬費 <span><%= Order.traffic_allowanc %>元</span></h6>
    <!--<p>滿<%#= Order.ship_fee_boundary %>以上不管數量、重量、體積大小多重，通通一律 0 元</p>-->
  </div>
</div>
<div class="ui segment">
  <div class="order_notice">
    <h5><%= t('buy_notice.3500_gift') %></h5>
    <p>您有想過離水源最近的廚房和浴室的插座，是最有可能發生意外的地方嗎？滿額就送<%= link_to '【防水蓋乙個】' %></p>
  </div>
</div>
<!--<div class="ui segment hidden-xs hidden-sm">-->
  <!--<div class="order_notice">-->
    <!--<h5><%#= t('buy_notice.discount') %></h5>-->
    <!--<p><%#= t('buy_notice.discount_content') %></p>-->
  <!--</div>-->
<!--</div>-->
<div class="ui segment hidden-xs hidden-sm">
  <div class="order_notice">
    <h5><%= t('buy_notice.pro_work') %></h5>
    <p><%= t('buy_notice.pro_work_content') %></p>
    <p class="red bold">透過本公司專業師傅施工即享有2年保固</p>
  </div>
</div>