<div id="product_item_<%= item.id %>" class="product_item">
  <hr>
  <div class="row mt20 mb20">
    <div class="col-md-4 col-xs-5">
      <div class="ml20 pull-left">
        <%= image_tag "product/#{item.product.item_name}.png" %>
      </div>
    </div>
    <div class="col-md-8 col-xs-7">
      <div class="product_info">
        <div class="product_info_header">
          <sapn class="bold"><%= item.product.name %></sapn>
          <span class="ml10"><%= item.show_voltage %></span>
          <span class="ml10">$<span name="price" class="oneprice"><%= item.show_price %> </span></span>
          <% unless ['show' ,'details','finish' ].include? action_name %>
              <%= link_to line_items_path(id:item.id),method:"delete",class:"pull-right pr20 item_cancel",remote:true do%>
                  <i class="fa fa-times" aria-hidden="fales"></i>
              <% end %>
          <% end %>
        </div>

        <div class="product_info_content">
          <% if ['show', 'details','finish' ].include? action_name %>
              <span>數量: <%= item.qty %></span>
          <% else %>
              <%= render 'orders/spinner', item: item %>
          <% end %>

          <span class="pull-right pr20">加總: $<span class="allprice bold"><%= item.amount %></span></span>
        </div>
      </div>
    </div>
  </div>
</div>