<div id="product_item_<%= item.id %>" class="product_item ">
  <hr>
  <div class="row mt10 mb10">
    <div class="col-xs-3">
      <div class="ml20 pull-left">
        <%= image_tag item.product.asset.url %>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="product_info">
        <div class="product_info_header">
          <sapn class="bold"><%= item.product.name %></sapn>
          <span class="ml10"><%= item.voltage %></span>
          <span class="ml10">$<span name="price" class="oneprice"><%= item.price %> </span></span>
          <% if action_name != "show" %>
              <%= link_to line_items_path(id:item.id),method:"delete",class:"pull-right pr20 item_cancel",remote:true do%>
                  <i class="fa fa-times" aria-hidden="fales"></i>
              <% end %>
          <% end %>
        </div>

        <div class="product_info_content">
          <% if params[:action] == "show" %>
              <span>數量: <%= item.qty %></span>
          <% else %>
              <%= render 'orders/spinner', item: item %>
          <% end %>


          <span class="pull-right pr20">加總: $<span class="allprice bold"><%= item.amount %></span></span>
        </div>
      </div>
    </div>
  </div>
</div>