<div class="main">
  <%= render 'order_header' %>

  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <% if  request.referrer.include?('users') %>
              <%= render 'users/sidebar' %>
          <% else %>
              <%= render 'order_notice' %>
          <% end  %>
        </div>
        <div class="col-sm-9">
          <div class="ui segment form order_product_form" data-district="<%= @order.district %>">
            <%= form_for @order do |f| %>
                <h4 class="ui dividing bold mb10"><%= t('form.info') %></h4>
                <div class="order_info">
                  <% @order.line_items.each  do |item| %>
                      <%= render 'product',item:item %>
                  <% end %>
                  <%= render 'order_info', order:@order %>
                </div>
                <%= render 'order_form',f:f ,order:@order%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<%= javascript_include_tag 'spinner_order' %>
<script>
  $('form').tw_citySelector('#county', '#district', '#postcode');
  $("#county").dropdown('set selected', "<%= @order.county %>");
  $("#district").dropdown('set selected',$(".ui.form").data('district'));
  document.addEventListener("turbolinks:visit", function() {
    $("#district").dropdown('set selected',$(".ui.form").data('district'));
  })
</script>
