<div class="main">
  <%= render 'order_header' %>
  <section class="content-section">
    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <%= render 'users/sidebar' %>
        </div>

        <div class="col-sm-9">
          <div class="ui segment order_product_form">
            <h4 class="ui dividing bold mb10"><%= t('form.info') %></h4>
            <div class="order_info">
              <%= render 'order_info'%>
              <% @order.line_items.each  do |item| %>
                  <%= render 'product',item:item %>
              <% end %>
            </div>
            <table class="ui definition table mt30">
              <tbody>
              <tr>
                <td class="four wide column"><%= t('form.status') %></td>
                <td><%= @order.status %></td>
              </tr>
              <tr>
                <td class="four wide column"><%= t('form.name') %></td>
                <td><%= @order.name %></td>
              </tr>
              <tr>
                <td><%= t('form.email') %></td>
                <td><%= @order.email %></td>
              </tr>
              <tr>
                <td><%= t('form.address') %></td>
                <td><%= @order.full_address %></td>
              </tr>
              <tr>
                <td><%= t('form.phone') %></td>
                <td><%= @order.phone %></td>
              </tr>
              <tr>
                <td><%= t('form.ship_time') %></td>
                <td><%= @order.ship_time %></td>
              </tr>
              <tr>
                <td><%= t('form.who_set') %></td>
                <td><%= @order.whoset %></td>
              </tr>
              <tr>
                <td><%= t('form.pay_way') %></td>
                <td><%= @order.payment.payment_method %></td>
              </tr>
              <% if @order.ps.present? %>
                  <tr>
                    <td><%= t('form.ps') %></td>
                    <td><%= @order.ps %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


