
<div class="main">
  <%= render 'order_header' %>

  <section class="content-section my_bgc">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= render 'order_notice' %>
        </div>
        <div class="col-sm-9">
          <div class="ui segment form order_product_form">
            <%= form_for @order  do |f| %>
                <% if current_cart.total == 0 %>
                    <h4 class="ui bold">您尚未訂購任何商品</h4>
                <% else %>
                    <h4 class="ui dividing bold mb10"><%= t('form.info') %></h4>
                    <div class="order_info">
                      <%= render 'order_info'%>
                      <% current_cart.line_items.each  do |item| %>
                          <%= render 'product',item:item %>
                      <% end %>
                    </div>
                <% end %>
                <%= render 'order_form',f:f %>
            <% end %>
          </div>
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content-section -->


</div> <!-- end main -->

<%= javascript_include_tag 'spinner_order'%>
<script>
  $('form').tw_citySelector('#county', '#district', '#postcode');
</script>
