<div class="main">
  <%= render 'order_header' %>
  <section class="content-section">
    <div class="container">
      <%= render 'flash/alert',order:@order %>
      <div class="row reorder-xs">

        <div class="col-sm-3">
          <% if request.referrer && request.referrer.include?('users') %>
              <%= render 'users/sidebar' %>
          <% else %>
              <%= render 'order_notice' %>
          <% end  %>
        </div>

        <div class="col-sm-9">
          <div class="ui segment order_product_form">
            <% if @order.can_update? %>
                <%= link_to edit_order_path(@order) do %>
                    <div class="ui top right attached label"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 修改</div>
                <% end %>
            <% end %>
            <div class="row">
              <div class="mb30 col-xs-12 mt10">
                <h4 class="ui mb10">請選擇智付寶結帳方式</h4>
                <% if @order.payments.last && @order.payments.last.payment_method == 'Credit' %>
                    <div class="col-xs-6 mb10"><%= link_to "信用卡結帳", checkout_pay2go_order_path(@order, :payment_method => "Credit"), :class => "ui button fluid red", :method => :post %></div>
                <% elsif @order.payments.last && @order.payments.last.payment_method == 'ATM' %>
                    <div class="col-xs-6 mb10"><%= button_tag "ATM", :class => "ui button fluid red",id:'atm_modal' %></div>
                <% else %>
                    <div class="col-xs-6 mb10"><%= link_to "信用卡結帳", checkout_pay2go_order_path(@order, :payment_method => "Credit"), :class => "ui button fluid red", :id => 'credit_link', :method => :post %></div>
                    <div class="col-xs-6 mb10"><%= button_tag "ATM", :class => "ui button fluid red",id:'atm_modal' %></div>
                <% end %>
              </div>
            </div>
            <h4 class="ui dividing bold mb10"><%= t('form.info') %></h4>
            <div class="order_info">
              <% @order.line_items.each  do |item| %>
                  <%= render 'product',item:item %>
              <% end %>
              <%= render 'order_info'%>
            </div>
            <table class="ui definition table mt30">
              <tbody>
              <tr>
                <td>訂單編號</td>
                <td><%= @order.order_number %></td>
              </tr>
              <tr>
                <td><%= t('form.who_set') %></td>
                <td id="order_whoset"><%= @order.whoset %></td>
              </tr>
              <tr>
                <td class="four wide column">交易狀態</td>
                <td><%= @order.payment_status %></td>
              </tr>
              <tr>
                <td class="four wide column"><%= t('form.name') %></td>
                <td><%= @order.name %></td>
              </tr>
              <tr>
                <td><%= t('form.email') %></td>
                <td><%= @order.email %></td>
              </tr>
              <tr>
                <td><%= t('form.address') %></td>
                <td><%= @order.full_address %></td>
              </tr>
              <tr>
                <td><%= t('form.phone') %></td>
                <td><%= @order.phone %></td>
              </tr>
              <tr>
                <td><%= t('form.ship_time') %></td>
                <td><%= @order.ship_time %></td>
              </tr>
              <% if @order.ps.present? %>
                  <tr>
                    <td><%= t('form.ps') %></td>
                    <td><%= @order.ps %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render 'atm_modal',order:@order %>

<%= javascript_include_tag 'spinner_order' %>

<script type="text/javascript" charset="utf-8">

  function show_construction_fee_themselves(){
    var sum_up = parseInt($('#construction_fee_by_our').html())
    var sumup_themselves = 3000 + (sum_up*1.25)
    $('#construction_fee_themselves').html(sum_up * 1.25)
    $('#construction_fee_sumup_themselves').html( sumup_themselves )
  }
  function construction_table_proces(){
    if( $('#whoset').find("option:selected").val() == "自行安裝" || $('#order_whoset').html()== "自行安裝" ){
      $('#traffic_allowanc_block').hide();
    }
    else{
      $('#traffic_allowanc_block').show()
    }
  }

  $('#atm_modal').click(function(){
    $('.ui.basic.modal').modal('show');
  })
  show_construction_fee_themselves()
  construction_table_proces()
  $('#ui_atm_modal').modal({'onHidden': function(){location.reload();}})
  $('#credit_link').click(function(e){
    e.preventDefault()
    location.reload();
  })
</script>
