<div class="main">
  <%= render 'order_header' %>
  <section class="content-section">
    <div class="container">
      <%= render 'flash/alert',order:@order %>
      <div class="row">

        <div class="col-sm-3">
          <% if  request.referrer.include?('users') %>
              <%= render 'users/sidebar' %>
          <% else %>
              <%= render 'order_notice' %>
          <% end  %>
        </div>

        <div class="col-sm-9">
          <div class="ui segment order_product_form">
            <% if @order.can_update? %>
                <%= link_to edit_order_path(@order) do %>
                    <div class="ui top right attached label"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 修改</div>
                <% end %>
            <% end %>
            <div class="row">
              <div class="mb30 col-xs-12 mt10">
                <h4 class="ui mb10">請選擇智付寶結帳方式</h4>
                <div class="col-xs-6 mb10"><%= link_to "信用卡結帳", checkout_pay2go_order_path(@order, :payment_method => "Credit"), :class => "ui button fluid red", :method => :post %></div>
                <!--<div class="col-xs-6 mb10 "><%#= link_to "WebATM", checkout_pay2go_order_path(@order, :payment_method => "WebATM"), :class => "ui button fluid red", :method => :post %></div>-->
                <div class="col-xs-6 mb10"><%= link_to "ATM", checkout_pay2go_order_path(@order, :payment_method => "ATM"), :class => "ui button fluid red", :method => :post %></div>
                <%# if @order.whoset == '本公司派專業師傅安裝' %>
                <!--<div class="<%#= what_col_in(@order) %>">-->
                <%#= link_to "貨到付款", face_payment_order_path(@order), :class => "ui button fluid red", :method => :post %>
                <!--</div>-->
                <%# end %>
              </div>
            </div>
            <h4 class="ui dividing bold mb10"><%= t('form.info') %></h4>
            <div class="order_info">
              <%= render 'order_info'%>
              <% @order.line_items.each  do |item| %>
                  <%= render 'product',item:item %>
              <% end %>
            </div>
            <table class="ui definition table mt30">
              <tbody>
              <tr>
                <td class="four wide column"><%= t('form.name') %></td>
                <td><%= @order.name %></td>
              </tr>
              <tr>
                <td><%= t('form.email') %></td>
                <td><%= @order.email %></td>
              </tr>
              <tr>
                <td><%= t('form.address') %></td>
                <td><%= @order.full_address %></td>
              </tr>
              <tr>
                <td><%= t('form.phone') %></td>
                <td><%= @order.phone %></td>
              </tr>
              <tr>
                <td><%= t('form.ship_time') %></td>
                <td><%= @order.ship_time %></td>
              </tr>
              <tr>
                <td><%= t('form.who_set') %></td>
                <td id="order_whoset"><%= @order.whoset %></td>
              </tr>
              <% if @order.ps.present? %>
                  <tr>
                    <td><%= t('form.ps') %></td>
                    <td><%= @order.ps %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= javascript_include_tag 'spinner_order' %>
