<div class="main">
  <div class="page-title-div gradient-bg" >
    <div class="container">
      <div class="row page-title-row">
        <div class="col-sm-12 text-center">
          <h1 class="page-title mt30 bold">
            THANK YOU
          </h1>
          <p><%= t('.thankyou_subtitle') %></p>
        </div> <!-- end col-md-6 -->
      </div> <!-- end page-title-row -->
    </div> <!-- end container -->
  </div>
  <section class="content-section thank_you_page">
    <div class="container">

      <!--@order.payment.payment_method == '貨到付款' ||-->
      <% if @order.payment.paid?   %>
          <div class="text-center">
            <i class="ion-happy-outline" aria-hidden="true"></i>
            <h3 class="section-title underline mt20"><%= t('.thankyou_title') %></h3>
            <p class="section-subtitle"><%= simple_format t('.thankyou_content') %></p>
            <h5><i class="fa fa-envelope-o mr10" aria-hidden="true"></i>訂單明細已寄至您的信箱</h5>
          </div>
          <!--<meta HTTP-EQUIV="REFRESH" content="1.5; url=<#%= nonpay_user_path(current_user)%>">-->
          <!--<script>-->
//            window.dataLayer = window.dataLayer || [];
//            dataLayer.push({
//              event: 'payment_success',
//              'transactionId': '<%#= @order.id %>',
//              'transactionTotal': <%#= @order.final_price %>,
//              'transactionProducts': [{
//                'name': '<%#= @order.order_number %>',
//                'price': <%#= @order.final_price %>,
                'freight': <%#= @order.freight %>
//              }]
//            });
          <!--</script>-->

          <!-- Google Code for &#24863;&#35613;&#38913; Conversion Page -->
          <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 1000152110;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "mTYvCJWKlmsQrrj03AM";
            var google_conversion_value = <%= @order.final_price %>.00;
            var google_conversion_currency = "TWD";
            var google_remarketing_only = false;
            /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
            <div style="display:inline;">
              <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1000152110/?value=<%= @order.final_price %>.00&amp;currency_code=TWD&amp;label=mTYvCJWKlmsQrrj03AM&amp;guid=ON&amp;script=0"/>
            </div>
          </noscript>


    <% else %>
          <div class="payment_message text-center mb60">
            <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
            <h3 class="section-title underline mt20">付款失敗</h3>
            <p class="section-subtitle"></p>
            <h5>因不明原因付款失敗請聯絡客服<br>請立即聯絡客服人員會有專人為您服務</h5>
          </div>
      <% end %>

    </div>
  </section>
</div> <!-- end main -->


