<div class="main">
	<section class="content-section text-center h100vh flex_cneter">
		<div class="ui segments login-box">
			<div class="ui horizontal segments login_tab_link_fix">
				<div class="ui segment"> <%= link_to new_registration_path(resource_name) do %>
							<i class="fa fa-sign-in mr10" aria-hidden="true"></i>註冊
					<% end %></div>
				<div class="ui segment">
					<%= link_to omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first) do %>
							<i class="fa fa-facebook-square mr10" aria-hidden="true"></i>Facebook 登入
					<% end %>
				</div>
			</div>
			<div class="ui form segment">
				<h5 class="bold mb10">登入</h5>
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<% if flash[:alert] %>
								<ul>
									<li class="alert login_alert"><%= flash[:alert] %></li>
								</ul>
						<% end %>
						<div class="field">
							<%= f.email_field :email,placeholder: t('devise.email')%>
						</div>

						<div class="field">
							<%= f.password_field :password, autocomplete: "off",placeholder: t('devise.password') %>
						</div>

						<% if devise_mapping.rememberable? %>
								<div class="field pull-left">
									<div class="ui checkbox ml10">
										<%= f.check_box :remember_me ,class:"ml10"%>
										<%= f.label :remember_me, "記住我" %>
									</div>
								</div>
						<% end -%>
						<div class="item pull-right mt5">
							<%= link_to '忘記密碼?', new_password_path(resource_name) ,class:"item black" %>
						</div>
						<div class="actions">
							<button type="submit" name="commit" class="ui button fluid red"><i class="fa fa-sign-in mr10" aria-hidden="true"></i>登入</button>
						</div>
				<% end %>
			</div>
		</div>
	</section>
</div>

<style>
	.ui.segments{
		box-shadow:none;
	}
	.logo h1{
		color: #bc4c4c;
	}
	.nav_header .menu-item i,.nav_header .menu-item a{
		color: #787878;
	}
	.menu-item .cart_count,.footer{
		display: none !important;
	}
</style>