<div id="product_item_<%= item.id %>" class="product_item">
  <hr>
  <div class="row mt20 mb20">
    <div class="col-md-4 col-xs-5">
      <div class="ml20 pull-left">
        <%= image_tag item.product.asset.url %>
      </div>
    </div>
    <div class="col-md-8 col-xs-7">
      <div class="product_info">
        <div class="product_info_header">
          <sapn class="bold"><%= item.product.name %></sapn>
          <span class="ml10"><%= item.voltage %></span>
        </div>

        <div class="product_info_content">
          <% if params[:action] == 'new' %>
              <div>退貨數量 :<%= select_tag item.id.to_s+"product" ,options_for_select(0..item.qty,item.qty),
                                        class:"ui dropdown fluid return_orders_select #{'disabled' if @order.return_order }"  %>
              </div>

          <% else %>
              <div>退貨數量 :<%= item.qty  %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>