<div class="main">
  <%= render 'return_order_header' %>
  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= render "users/sidebar" %>
        </div> <!-- end col-md-3 -->

        <div class="col-sm-9">
          <table class="ui single line table">
            <thead>
            <tr>
              <th class="">訂單編號</th>
              <th class="">地址</th>
              <th class="">電話</th>
              <th class="">退貨申請時間</th>
              <th class="">結帳方式</th>
              <th class="">內容</th>
            </tr>
            </thead>
            <tbody>
            <%  @return_orders.each  do |return_order| %>
                <tr>
                  <td><%= return_order.order.order_number %></td>
                  <td><%= return_order.order.full_address %></td>
                  <td><%= return_order.phone %></td>
                  <td><%= return_order.updated_at.strftime('%x') %></td>
                  <td><%= return_order.order.payment.payment_method %></td>
                  <td><a href="<%= user_return_order_path(current_user,id: return_order.order.return_order) %>"><i class="fa fa-search" aria-hidden="true"></i></a></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="paginator">
      <%= paginate @return_orders %>
    </div>
  </section> <!-- end content-section -->

</div> <!-- end main -->

