<div class="main">
  <%= render 'return_order_header' %>
  <section class="content-section">
    <div class="container">
      <div class="row ">
        <div class="col-sm-3">
          <%= render 'users/sidebar' %>
        </div> <!-- end col-md-3 -->
        <div class="col-sm-9 ui form">

          <div class="ui segment form order_product_form" >
            <%= form_for @return_order, url:user_return_orders_path  do |f| %>
                <h4 class="ui dividing bold mb10"><%= t('return_orders.return_orders') %></h4>
                <div class="order_info">
                  <% @order.line_items.each do |item| %>
                      <%= render 'product' ,item:item %>
                  <% end %>
                </div>

                <div class="field">
                  <div class="fields">
                    <div class="six wide field">
                      <%= f.label :phone , t('form.phone')%>
                      <%= f.telephone_field :phone,value: current_user.try(:phone), :required => true %>
                    </div>
                    <div class="ten wide field">
                      <%= f.label :alternate_email , t('form.email')%>
                      <%= f.email_field :alternate_email ,value: current_user.alternate_email_check, :required => true%>
                    </div>
                  </div>
                  <div class="field">
                    <%= f.label :ps , t('form.ps')%>
                    <%= f.text_area :ps,rows:"3",placeholder: t('return_orders.at_least_20') %>
                  </div>
                </div>
                <%= f.hidden_field(:order_id, value:@order.id) %>
                    <%= f.submit "退貨",class:"ui button red " %>
            <% end %>
          </div>
        </div>

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content-section -->

</div> <!-- end main -->
