<!-- ========== MAIN ========== -->
<div class="main">

  <!-- ========== PAGE TITLE ========== -->
  <div class="page-title-div gradient-bg" >
    <div class="container">
      <div class="row page-title-row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-title">Shop Details</h1>
          <p>One stop solution for a stunning website.</p>
        </div> <!-- end col-md-6 -->

        <div class="col-md-6 col-sm-6 hidden-xs">
          <ol class="breadcrumb pull-right border-0">
            <li><a href="#" class="trans">Home</a></li>
            <li><a href="#" class="trans">Shop</a></li>
            <li><a href="#" class="active trans">Details</a></li>
          </ol>
        </div> <!-- end col-md-6 -->
      </div> <!-- end page-title-row -->
    </div> <!-- end container -->
  </div>

  <!-- ========== CONTENT SECTION ========== -->
  <section class="content-section">
    <div class="container">
      <div class="row ">
        <div class="col-sm-3">
          <%= render "users/sidebar" %>
        </div> <!-- end col-md-3 -->
        <div class="col-sm-9 ui form">
          <%= form_for @return_order, url:user_return_orders_path  do |f| %>
              <% @order.line_items.each do |item| %>
                  <div class="col-sm-6">
                    <hr>
                    <div class="row dis_table">
                      <div class="dis_table_cell ml10 pull-left">
                        <%= image_tag item.product.asset.url ,class:"w100p" %>
                      </div>
                      <div class="dis_table_cell pl30 w47p">
                        <div>
                          <%= item.product.name %>
                          <span class="ml10"><%= item.voltage %></span>
                        </div>
                        <div>
                          價格 : $ <span value="<%= item.price %>"><%= item.price %></span>
                        </div>
                        <div>退貨數量 :<%= select_tag item.id.to_s+"product" ,options_for_select(0..item.qty,item.qty),
                                                  class:"ui dropdown fluid return_orders_select #{'disabled' if @order.return_order }"  %></div>
                      </div>
                    </div>
                  </div>
              <% end %>
              <div class="field <%= "disabled" if @return_order_check %>">
                <div class="six wide field">
                  退款金額 : <span id="return_price"></span>
                </div>
                <div class="six wide field">
                  <%= f.label :phone ,"PHONE"%>
                  <%= f.telephone_field :phone,value: current_user.try(:phone), :required => true %>
                </div>
                <div class="six wide field">
                  <%= f.label :alternate_email ,"EMAIL"%>
                  <%= f.email_field :alternate_email ,value: current_user.alternate_email_check, :required => true%>
                </div>
                <div class="field">
                  <%= f.label :ps ,"COMMENT"%>
                  <%= f.text_area :ps,rows:"3" %>
                </div>
              </div>
              <%= f.hidden_field :order_id,value: @order.id %>
              <% if @return_order_check.try(:status) == ("ok" || "OK") %>
                  <button class="ui button red disabled">已完成</button>
              <% elsif @return_order_check %>
                  <button class="ui button red disabled">處理中...</button>
              <% else %>
                  <%= f.submit "退貨",class:"ui button red " %>
              <% end %>
          <% end %>
        </div>

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content-section -->

</div> <!-- end main -->
