<div class="main">
  <%= render 'return_order_header' %>
  <section class="content-section">
    <div class="container">
      <div class="row ">
        <div class="col-sm-3">
          <%= render 'users/sidebar' %>
        </div> <!-- end col-md-3 -->
        <div class="col-sm-9 ui form">

          <div class="ui segment form order_product_form" >
            <h4 class="ui dividing bold mb10"><%= t('return_orders.return_orders') %></h4>
            <div class="order_info">
              <%#= render 'order_info', order:@return_order %>
              <% @return_line_items.each do |return_item| %>
                  <%= render 'product' ,item: return_item %>
              <% end %>
              <table class="ui definition table mt30">
                <tbody>
                <tr>
                  <td><%= t('form.status') %></td>
                  <td><%= @return_order.status %></td>
                </tr>
                <tr>
                  <td class="four wide column"><%= t('form.email') %></td>
                  <td><%= @return_order.alternate_email %></td>
                </tr>
                <tr>
                  <td><%= t('form.phone') %></td>
                  <td><%= @return_order.phone %></td>
                </tr>
                <tr>
                  <td><%= t('form.who_set') %></td>
                  <td><%= @return_order.order.whoset %></td>
                </tr>
                <tr>
                  <td><%= t('form.ps') %></td>
                  <td style="word-break: break-all"><%= @return_order.ps %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content-section -->

</div> <!-- end main -->
