<ul class="list-group mb30 product_sidebar">
  <li class="list-group-item">
    <%= link_to products_path(type: "qt"),class:"item" do%>
        <div>
          <span>QT系列開關插座</span><div class="ui horizontal label pull-right"><%= Product.qt.size %></div>
        </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to products_path(type: "t1"),class:"item" do%>
        <div>
          <span>1T系列開關插座</span><div class="ui horizontal label pull-right"><%= Product.t1.size %></div>
        </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to products_path(type: "switch"),class:"item" do%>
        <div>
          <span>全系列開關</span><div class="ui horizontal label pull-right"><%= Product.switch.size %></div>
        </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to products_path(type: "plug"),class:"item" do%>
        <div>
          <span>全系列插座</span><div class="ui horizontal label pull-right"><%= Product.plug.size %></div>
        </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to products_path(type: "rest"),class:"item" do%>
        <div>
          <span>盲蓋片、電鈴</span><div class="ui horizontal label pull-right"><%= Product.rest.size %></div>
        </div>
    <% end %>
  </li>
</ul>
<div class="ui segment">
  <div class="order_notice">
    <h5><%= t('buy_notice.deliver_fee') %></h5>
    <p><%= t('buy_notice.deliver_fee_content') %></p>
  </div>
</div>
<div class="ui segment mb20">
  <div class="order_notice">
    <h5><%= t('buy_notice.3500_gift') %></h5>
    <p>您有想過離水源最近的廚房和浴室的插座，是最有可能發生意外的地方嗎？滿額就送<%= link_to '【防水蓋乙個】' %></p>
  </div>
</div>