<div class="main">
  <%= render 'product_header' %>
  <section class="content-section product_index">
    <div class="container">
      <div class="row reorder-xs reorder-sm">
        <div class="col-md-3">
          <%= render "sidebar" %>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-xs-12">
              <%= render 'promotion' %>
            </div>
          </div>

          <div class="row">
            <div class="ui special cards product_index_info">
              <% @products.each do |product| %>
                  <div class="col-md-4 col-xs-6">
                    <%= link_to product_path(product),class:"shop-box" do %>
                        <div class="ui card fluid">
                          <div class="blurring dimmable image flex_cneter">
                            <div class="ui dimmer">
                              <div class="content">
                                <div class="center">
                                  <div class="ui inverted button">查看</div>
                                </div>
                              </div>
                            </div>
                            <%= image_tag "product/#{product.item_name}.png" %>
                          </div>
                          <div class="content">
                            <div class="meta pull-right">
                              <p><%= product.show_voltage %></p>
                            </div>
                            <div class="descriptison pull-left red">
                              <%= product.show_price %>
                            </div>
                            <div class="description" >
                              <%= product.name %>
                            </div>
                          </div>
                          <!--<div class="extra content">-->
                          <!--<i class="check icon"></i>-->
                          <!--121 Votes-->
                          <!--</div>-->
                        </div>
                    <% end %>
                  </div> <!-- end col-md-4 -->
              <% end %>
            </div>
          </div>
        </div> <!-- end col-md-9 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="paginator">
      <%= paginate @products %>
    </div>
  </section> <!-- end content-section -->
</div> <!-- end main -->
<div class="ui item visible-xs visible-sm category_select">
  <div class="ui fluid selection dropdown">
    <div class="text"><%= show_category_name %></div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">
        <%= link_to products_path(type: "qt"),class:"item" do%>
            <div>
              <span>QT流線型開關插座</span><div class="ui horizontal label pull-right hidden-md"><%= Product.qt.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "t1"),class:"item" do%>
            <div>
              <span>1T輕觸型開關插座</span><div class="ui horizontal label pull-right hidden-md"><%= Product.t1.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "fk"),class:"item" do%>
            <div>
              <span>FK典雅型開關插座</span><div class="ui horizontal label pull-right hidden-md"><%= Product.fk.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "switch"),class:"item" do%>
            <div>
              <span>全系列開關</span><div class="ui horizontal label pull-right hidden-md"><%= Product.switch.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "plug"),class:"item" do%>
            <div>
              <span>全系列插座</span><div class="ui horizontal label pull-right hidden-md"><%= Product.plug.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "air_con"),class:"item" do%>
            <div>
              <span>冷氣插座</span><div class="ui horizontal label pull-right hidden-md"><%= Product.air_con.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "rest"),class:"item" do%>
            <div>
              <span>盲蓋片、電鈴、防水蓋板</span><div class="ui horizontal label pull-right hidden-md"><%= Product.rest.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "emergency"),class:"item" do%>
            <div>
              <span>緊急押扣、緊急插座</span><div class="ui horizontal label pull-right hidden-md"><%= Product.emergency.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "weak_power"),class:"item" do%>
            <div>
              <span>電視、電話、網路</span><div class="ui horizontal label pull-right hidden-md"><%= Product.weak_power.size %></div>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to products_path(type: "arg"),class:"item" do%>
            <div>
              <span>吸頂式自動感應開關、電捲門開關</span><div class="ui horizontal label pull-right hidden-md"><%= Product.arg.size %></div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  .ui.cards{
    margin: 0 !important;
  }
</style>
<script type="text/javascript" charset="utf-8">
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>