<div class="main">
  <%= render 'product_header' %>
  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= render "sidebar" %>
        </div> <!-- end col-md-3 -->

        <div class="col-md-9">
          <div class="row">
            <div class="col-xs-12">
            <%= render 'promotion' %>
            </div>
          </div>

          <div class="row">
            <div class="ui special cards">
              <% @products.each do |product| %>
                  <div class="col-md-4 col-sm-6  col-xs-12">
                    <%= link_to product_path(product),class:"shop-box" do %>
                        <div class="ui card fluid mb30 product_index_info">
                          <div class="blurring dimmable image flex_cneter">
                            <div class="ui dimmer">
                              <div class="content">
                                <div class="center">
                                  <div class="ui inverted button">查看</div>
                                </div>
                              </div>
                            </div>
                            <%= image_tag "product/#{product.item_name}.png" %>
                          </div>
                          <div class="content">
                            <div class="meta pull-right">
                              <p><%= product.show_voltage %></p>
                            </div>
                            <div class="descriptison pull-left red">
                              <%= product.show_price %>
                            </div>
                            <div class="description" >
                            <%= product.name %>
                            </div>
                          </div>
                          <!--<div class="extra content">-->
                            <!--<i class="check icon"></i>-->
                            <!--121 Votes-->
                          <!--</div>-->
                        </div>
                    <% end %>
                  </div> <!-- end col-md-4 -->
              <% end %>
            </div>
          </div>
        </div> <!-- end col-md-9 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
    <div class="paginator mt30">
      <%= paginate @products %>
    </div>
  </section> <!-- end content-section -->



</div> <!-- end main -->

<style>
  .ui.cards{
    margin: 0 !important;
  }
</style>
<script type="text/javascript" charset="utf-8">
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>