<div class="main">

  <%= render 'product_header' %>

  <section class="content-section">
    <div class="container">
      <div class="row reorder-xs ">
        <div class="col-md-3">
          <%= render "sidebar" %>
        </div> <!-- end col-md-3 -->

        <div class="col-md-9 product_show_info">
          <div class="ui segment">
            <div class="row">
              <div class="col-sm-7">
                <div class="text-center">
                  <%= image_tag "product/#{@product.item_name}.png" ,class:"img-responsive"%>
                </div>
              </div>

              <div class="col-sm-5 product_show_order">
                <%= form_tag buy_product_path(@product), remote: true do %>
                    <h4><%= @product.name %></h4>

                    <div class="inline fields">
                      <div class="field">
                        <% if @product.v110? && @product.v220? %>
                            <div class="ui radio checkbox mt15 mb15">
                              <label> 110V : $<%= @product.v110_price %></label> <%= radio_button_tag 'voltage', '110V',true %>
                            </div><br>
                            <div class="ui radio checkbox mb15">
                              <label> 220V : $<%= @product.v220_price %></label>  <%= radio_button_tag 'voltage', '220V'%>
                            </div>
                        <% else %>
                            <div class="ui radio checkbox mt15 mb15">
                              <% if @product.v000? %>
                                  <label> 無電壓限制 : $<%= @product.v000_price %></label> <%= radio_button_tag 'voltage', '000V',true %>
                              <% elsif @product.v110? %>
                                  <label> 110V : $<%= @product.v110_price %></label> <%= radio_button_tag 'voltage', '110V',true %>
                              <% elsif @product.v220? %>
                                  <label> 220V : $<%= @product.v220_price %></label>  <%= radio_button_tag 'voltage', '220V',true%>
                              <% end %>
                            </div>
                        <% end %>

                      </div>
                    </div>
                    <div class="product_item clearfix">
                      <%= render "spinner" ,qty:1 %>
                    </div>
                    <a href="<%= blog_path(1,anchor:'con_fee') %>" class="construction_fee_notice">
                      <sapn>安裝費：$<%= @product.construction_fee %>
                        <div class="ui left pointing label red">
                          怎麼計算的？
                        </div>
                      </sapn>
                      <p><span class="red">本安裝服務不含拉線，僅限出線口施作</span><br>
                        僅需到府施工服務者才產生此費用，如自行安裝則無此費用</p>
                    </a>

                    <button type="submit" class="ui compact labeled icon button red mt15" id="add_to_cart" name="add_to_cart">
                      <span id="add_to_cart_animate" ><i class="add To cart icon"></i><%= t('button.add_to_cart') %></span>
                      <div id="check_wrapper" class="hidden">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                          <path class="checkmark" id="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
	C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
                        </svg>
                      </div>
                    </button>
                    <button type="submit" class="ui positive labeled icon button red mt15" id="buy_now" name="buy_now">
                      <span id="add_to_cart_animate" ><i class="fa fa-check-square-o" aria-hidden="true"></i></i>立即購買</span>
                    </button>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 product_describle ">
                <p><%= @product.description.try(:html_safe) %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <%= render 'blogs/compare_table' %>
              </div>
            </div>
            <p class="text-center red mt30"><i class="fa fa-dot-circle-o mr10" aria-hidden="true"></i>以上產品如有特殊組合貨需求皆可來電詢問<br>包含正方形方式組合(兩個單聯合併 尺寸為 12cm * 12cm)</p>
          </div>
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content-section -->

</div> <!-- end main -->

<%= javascript_include_tag 'spinner_order' %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.ui.radio.checkbox').checkbox();
    $('#add_to_cart').click(function(){
      $('#add_to_cart_animate').animate({opacity:0},300);
      $('#check_wrapper').removeClass('hidden');
      $('#checkmark').addClass('checkmark')
      setTimeout(function() {

        $('#checkmark').removeClass('checkmark')
        $('#check_wrapper').addClass('hidden');
        $('#add_to_cart_animate').animate({opacity:1},400);
      }, 900);
    })
  })
</script>