<div class="main">

  <%= render 'product_header' %>

  <section class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= render "sidebar" %>
        </div> <!-- end col-md-3 -->

        <div class="col-md-9 product_show_info">
          <div class="ui segment">
            <div class="col-md-7">
              <div class="text-center">
                <%= image_tag "product/#{@product.item_name}.png" ,class:"img-responsive"%>
              </div>
            </div>

            <div class="col-md-5 pl30 pt60">
              <%= form_tag buy_product_path(@product), remote: true do %>
                  <h4><%= @product.name %></h4>

                  <div class="inline fields">
                    <div class="field">
                      <% if @product.v110? && @product.v220? %>
                          <div class="ui radio checkbox">
                            <label> 110V : $<%= @product.v110_price %></label> <%= radio_button_tag 'voltage', '110V',true %>
                          </div><br>
                          <div class="ui radio checkbox">
                            <label> 220V : $<%= @product.v220_price %></label>  <%= radio_button_tag 'voltage', '220V'%>
                          </div>
                      <% else %>
                          <div class="ui radio checkbox">

                            <% if @product.v000? %>
                                <label> 無電壓限制 : $<%= @product.v000_price %></label> <%= radio_button_tag 'voltage', '000V',true %>
                            <% elsif @product.v110? %>
                                <label> 110V : $<%= @product.v110_price %></label> <%= radio_button_tag 'voltage', '110V',true %>
                            <% elsif @product.v220? %>
                                <label> 220V : $<%= @product.v220_price %></label>  <%= radio_button_tag 'voltage', '220V',true%>
                            <% end %>
                          </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="product_item clearfix">
                    <%= render "spinner" ,qty:1 %>
                  </div>
                  <button type="submit" class="ui compact labeled icon button red mt15" id="add_to_cart">
                    <i class="add To cart icon"></i><%= t('button.add_to_cart') %>
                  </button>

              <% end %>

            </div> <!-- end col-md-6 -->
            <div class="row">
              <div class="col-md-12 product_describle ">
                <p><%= @product.description.html_safe %></p>
              </div>
            </div>
            <p class="text-center red mt30"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>以上產品如有特殊組合貨需求皆可來電詢問</p>
          </div>
        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content-section -->

</div> <!-- end main -->

<%= javascript_include_tag 'spinner_order' %>
<script type="text/javascript" charset="utf-8">
  $('.ui.radio.checkbox')
      .checkbox()
  ;
</script>