<div class="nav_header">
  <div class="container-fluid">

    <!-- ========== MENU ========== -->
    <nav class="menu">
      <div class="logo">
        <%= link_to root_path do  %>
            <h1 style="font-size: 26px;">FUSAKI <span style="font-size: 20px; vertical-align: text-top;">久欣順</span></h1>
        <% end %>
      </div>

      <div class="logo search">
        <i class="fa fa-search fa-2x" aria-hidden="true" id="search_link"></i>
      </div> <!-- end logo -->

      <ul class="main-menu">
        <li class="menu-item">
          <%= link_to '購物', products_path %>
        </li>
        <li class="menu-item">
          <%= link_to '價格比較BLOG', blog_path(1) %>
        </li>

        <li class="menu-item">
          <%= link_to '下載專區', download_path %>
        </li>

        <li class="menu-item">
          <%= link_to '問與答', qa_path %>
        </li>

        <li class="menu-item">
          <%= link_to '聯絡我們', new_service_message_path %>
        </li>
        <% if current_user  %>
            <li class="menu-item">
              <%= link_to '訂單/設定', user_path(current_user,status:"outstanding") %>
        <% end %>
        <!-- Sub Menu -->
        </li> <!-- end menu-item -->

        <li class="menu-item">
          <% if current_user %>
              <%= link_to '登出', destroy_user_session_path, :method => :delete %>
          <% else %>
              <%= link_to '登入', new_session_path(:user) %>
          <% end %>
        </li>
      </ul> <!-- end main-menu -->
    </nav> <!-- end menu -->
  </div> <!-- end container-fluid -->
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
//    $('#search_input').keypress(function (e) {
//      console.log(1)
//      if (e.which == 13) {
//        console.log(2)
//        $('form').submit();
//        return false;
//      }
//    });
    $('#search_link').click(function(){
      $('.search.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
    })
    $(window).scroll(function(){
      $('.search.sidebar').sidebar('hide')
      $('nav .main-menu').removeClass('show-on-mobile')
    })
  })
</script>