<footer class="footer footer-style-3 dark-footer " id="footer">

  <div class="container footer-top">
    <div class="row">

      <!-- ========== left part ========== -->
      <div class="col-md-8 col-sm-8">
        <div class="vcenter mb20">
          <h2 class="mb10"><%= t("share.fusaki") %></h2>
          <div class=" clearfix">
            <p class="footer-desc">
              <%= t("share.footer_desc") %>
            </p>
          </div>
        </div> <!-- end vcenter -->
        <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
          <h5 class="footer-title underline "><%= t(".company_feature") %></h5>
          <ul class="ul">
            <li><%= link_to "公司介紹",introduce_path %></li>
          </ul>
        </div> <!-- end col-md-3 -->
        <div class="col-md-3 col-sm-6">
          <h5 class="footer-title underline"><%= t(".qa") %></h5>
          <ul class="ul">
            <li><%= link_to "如何購買/選擇",qa_path(type:"choice"),class:"item" %></li>
            <li><%= link_to "安裝技術指導",qa_path(type: "tech"),class:"item" %></li>
            <li><%= link_to "金流付款",qa_path(type: "payment"),class:"item" %></li>
            <li><%= link_to "退款/退貨",qa_path(type: "return"),class:"item" %></li>
            <li><%= link_to "大量批發",qa_path(type: "wholesale"),class:"item" %></li>
          </ul>
        </div> <!-- end col-md-3 -->
        <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
          <h5 class="footer-title underline"><%= t(".download") %></h5>
          <ul class="ul">
            <li><%= link_to "牌價表下載區",download_path(anchor: "price_list"),class:"item" %></li>
            <li><%= link_to "目錄下載區",download_path(anchor: "categories"),class:"item" %></li>
            <li><%= link_to "線路圖下載區",download_path(anchor: "line_rules"),class:"item" %></li>
          </ul>
        </div> <!-- end col-md-3 -->
        <div class="col-md-3 col-sm-6">
          <h5 class="footer-title underline"><%= t(".buy_product") %></h5>
          <ul class="ul">
            <li><%= link_to "QT流線型開關插座",products_path(type: "qt"),class:"item" %></li>
            <li><%= link_to "1T輕觸型開關插座",products_path(type: "t1"),class:"item" %></li>
	          <li><%= link_to "FK典雅型開關插座",products_path(type: "fk"),class:"item" %></li>
            <li><%= link_to "全系列開關",products_path(type: "switch"),class:"item" %></li>
            <li><%= link_to "全系列插座",products_path(type: "plug"),class:"item" %></li>
            <li><%= link_to "其他",products_path(type: "rest"),class:"item" %></li>
          </ul>
        </div> <!-- end col-md-3 -->
      </div> <!-- end col-md-8 -->

      <!-- ========== right part ========== -->
      <div class="col-md-4 col-sm-4">
        <h4 class="footer-title underline ml10 mt40"><%= t("share.contact_us") %></h4>
        <h5 class="ml10 mt15"><i class="fa fa-phone" aria-hidden="true"></i>  <%= t("share.phone_number") %></h5>
	      <h5 class="ml10 mt15"><i class="fa fa-fax" aria-hidden="true"></i>  <%= t("share.fax_number") %></h5>
	      <h5 class="ml10 lowercase mt15"><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= t("share.email_address") %></h5>
      </div> <!-- end col-md-4 -->

    </div>
    <div class="row footer-last">
      <div class="col-md-6">
        &copy; 2016 Make a Website
      </div>
      <div class="col-md-6 text-right">
        <span><a href="#" class="mr10">Terms of Use</a> <a href="#">Privacy Policy</a></span>
      </div>
    </div> <!-- end row -->
  </div> <!-- end footer-top -->
</footer>