<!DOCTYPE html>
<html>
<head>
  <title>FUSAKI</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="header-shadow">
<%= render 'layouts/gtm' %>
<%= render 'layouts/navbar' %>
<%= yield %>

<%= render 'layouts/footer' %>
<%= render 'layouts/contact_us' %>


<style>
  .secondNav .nav_header .cart_count #current_qty{
    color: #fff;
    top: 5px;
  }
</style>
</body>
</html>
