<div class="ui attached stackable menu index_hide">
  <div class="ui container">
    <%= link_to "F U S A K I",root_path ,class:"navbar-brand",class:"item logo"%>
    <%= link_to_if current_user,cart_icon,new_order_path,class:"item" do
      link_to cart_icon,new_user_session_path,class:"item" end%>
    <%= link_to "購物", products_path,class:"item"%>
    <%= (link_to "設定", nonpay_user_path(current_user) ,class:"item") if current_user%>

    <div class="right menu">
      <% if current_user %>
          <div class="item">
            <%= link_to "登出", destroy_user_session_path, :method => :delete , class:"ui button"%>
          </div>
      <% else %>
          <div class="item">
            <%= link_to "登入" , new_session_path(:user), class:"ui button"%>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="header">
  <div class="container-fluid">

    <!-- ========== MENU ========== -->
    <nav class="menu">
      <div class="logo">
        <a href="index.html"><img src="images/logo-green.png" alt="Salt" class="logo-img"></a>
      </div> <!-- end logo -->

      <!-- ========== MAIN MENU ========== -->
      <ul class="main-menu">
        <li class="active menu-item">
          <a href="#"><i class="menu-icon fa fa-home"></i> Home</a>
          <!-- Sub Menu -->
          <ul class="mega-submenu normal-sub">

            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-at"></i> Home - Business</a>
              <!-- Sub-sub-menu -->
              <ul class="sub-submenu">
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->

            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-clone"></i> Home - Portfolio</a>
              <ul class="sub-submenu">
              </ul>
            </li> <!-- end has-subsubmenu -->

            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-diamond"></i> Home - Landing Page</a>
              <ul class="sub-submenu">
              </ul>
            </li> <!-- end has-subsubmenu -->

            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-arrows-alt"></i> Home - Full Screen</a>
              <ul class="sub-submenu">
                <li><a href="index-full-screen-video-popup.html"><i class="fa fa-video-camera"></i> Video Popup</a></li>
                <li><a href="index-full-screen-gradient.html"><i class="fa fa-dot-circle-o"></i> Gradient Background</a></li>
              </ul>
            </li> <!-- end has-subsubmenu -->

            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-bars"></i> Home - Blog</a>
              <ul class="sub-submenu">
                <li><a href="index-blog-1.html"><i class="fa fa-sort"></i> Layout 1</a></li>
                <li><a href="index-blog-2.html"><i class="fa fa-sort"></i> Layout 2</a></li>
              </ul>
            </li> <!-- end has-subsubmenu -->

            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-bars"></i> One Page</a>
              <ul class="sub-submenu">
                <li><a href="index-one-page-default.html" target="_blank"><i class="fa fa-bars"></i> Demo 1</a></li>
                <li><a href="index-one-page-2.html" target="_blank"><i class="fa fa-magic"></i> Demo 2</a></li>
              </ul>
            </li> <!-- end has-subsubmenu -->

            <li class="">
              <a href="index-op-split-screen.html" class="hidden-sm hidden-xs"><i class="fa fa-arrows-h"></i> Home - Split Screen</a>
            </li>
            <li class="">
              <a href="index-app-landing.html"><i class="fa fa-mobile"></i> Home - App Landing</a>
            </li>
          </ul> <!-- end mega-submenu -->
        </li> <!-- end menu-item -->

        <li class="menu-item">
          <a href="#"><i class="menu-icon fa fa-magnet"></i> Features</a>
          <ul class="mega-submenu no-image">
            <li class="submenu-column">
              <ul>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>

              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
                <li><a href="slider-camera.html"><i class="fa fa-institution"></i> Camera Slider</a></li>
                <li><a href="slider-camera-2.html"><i class="fa fa-institution"></i> Camera Slider 2</a></li>
                <li><h6 class="underline mt10 ml20">Page Titles</h6></li>
                <li><a href="page-title-animated-default.html"><i class="fa fa-sort"></i> Default Page Title</a></li>
                <li><a href="page-title-parallax-left.html"><i class="fa fa-exclamation-triangle"></i> Parallax Background</a></li>
                <li><a href="page-title-parallax-right.html"><i class="fa fa-fire"></i> Parallax - Right Title</a></li>
                <li><a href="page-title-gradient-left.html"><i class="fa fa-film"></i> Gradient Background</a></li>
                <li><a href="page-title-solid-color-left.html"><i class="fa fa-plus-square-o"></i> Solid Color Background</a></li>
                <li><a href="page-title-solid-color-right.html"><i class="fa fa-plus-square-o"></i> Solid Color - Right Title</a></li>
                <li><a href="page-title-mini-left.html"><i class="fa fa-institution"></i> Small Page Title</a></li>
                <li><a href="page-title-video-background.html"><i class="fa fa-video-camera"></i> Video Page Title</a></li>
              </ul>
            </li> <!-- end submenu-column -->

            <li class="submenu-bottom">
              Call us on 1800-***-**** or email us on sales@example.net
            </li> <!-- end submenu-bottom -->
          </ul> <!-- end mega-submenu -->
        </li> <!-- end menu-item -->

        <li class="menu-item">
          <a href="#"><i class="fa fa-bars"></i> Portfolio</a>
          <!-- Sub Menu -->
          <ul class="mega-submenu normal-sub">
            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-bars"></i> Masonry Layout</a>
              <ul class="sub-submenu">
                <li><a href="portfolio-masonry.html"><i class="fa fa-magic"></i> Default Style</a></li>
                <li><a href="portfolio-masonry-style-2.html"><i class="fa fa-magnet"></i> Style 2</a></li>
                <li><a href="portfolio-masonry-no-gutter.html"><i class="fa fa-clone"></i> No Gutter</a></li>
                <li><a href="portfolio-masonry-full-width.html"><i class="fa fa-arrows-h"></i> Full Width</a></li>
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->
            <li class="">
              <a href="portfolio-mosaic.html"><i class="fa fa-hashtag"></i> Mosaic Layout</a>
            </li>
            <li class="">
              <a href="portfolio-default.html"><i class="fa fa-circle-o"></i> Default Portfolio</a>
            </li>
            <li class="">
              <a href="portfolio-4-column-style-2.html"><i class="fa fa-check"></i> Portfolio Style 2</a>
            </li>
            <li class="">
              <a href="portfolio-4-column-no-gutter.html"><i class="fa fa-rocket"></i> No Gutter</a>
            </li>
            <li class="">
              <a href="portfolio-google-image-style-details.html"><i class="fa fa-diamond"></i> On click details</a>
            </li>
            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-bars"></i> 3 Column</a>
              <ul class="sub-submenu">
                <li><a href="portfolio-3-column.html"><i class="fa fa-magic"></i> Default Style</a></li>
                <li><a href="portfolio-3-column-style-2.html"><i class="fa fa-magnet"></i> Style 2</a></li>
                <li><a href="portfolio-3-column-no-gutter.html"><i class="fa fa-clone"></i> No Gutter</a></li>
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->
          </ul> <!-- end mega-submenu -->
        </li> <!-- end menu-item -->

        <li class="menu-item">
          <a href="blog.html"><i class="fa fa-diamond"></i> Blog</a>
          <!-- Sub Menu -->
          <ul class="mega-submenu normal-sub">
            <li class="has-subsubmenu">
              <a href="blog.html"><i class="fa fa-circle-o"></i> Right Sidebar</a>
              <ul class="sub-submenu on-left">
                <li><a href="blog.html"><i class="fa fa-magic"></i> Layout 1</a></li>
                <li><a href="blog-2.html"><i class="fa fa-magnet"></i> Layout 2</a></li>
              </ul> <!-- end sub-submenu -->
            </li>
            <li class="has-subsubmenu">
              <a href="blog-left-sidebar.html"><i class="fa fa-check"></i> Left Sidebar</a>
              <ul class="sub-submenu on-left">
                <li><a href="blog-left-sidebar.html"><i class="fa fa-magic"></i> Layout 1</a></li>
                <li><a href="blog-2-left-sidebar.html"><i class="fa fa-magnet"></i> Layout 2</a></li>
              </ul> <!-- end sub-submenu -->
            </li>
            <li class="has-subsubmenu">
              <a href="blog-both-sidebar.html"><i class="fa fa-bug"></i> Both Sidebar</a>
              <ul class="sub-submenu on-left">
                <li><a href="blog-both-sidebar.html"><i class="fa fa-magic"></i> Layout 1</a></li>
                <li><a href="blog-2-both-sidebar.html"><i class="fa fa-magnet"></i> Layout 2</a></li>
              </ul> <!-- end sub-submenu -->
            </li>
            <li class="has-subsubmenu">
              <a href="blog-single-post.html"><i class="fa fa-bug"></i> Single Post</a>
              <ul class="sub-submenu on-left">
                <li><a href="blog-single-post.html"><i class="fa fa-magic"></i> Right Sidebar</a></li>
                <li><a href="blog-single-post-left.html"><i class="fa fa-magnet"></i> Left Sidebar</a></li>
              </ul> <!-- end sub-submenu -->
            </li>
          </ul> <!-- end mega-submenu -->
        </li> <!-- end menu-item -->

        <li class="menu-item">
          <a href="#"><i class="menu-icon fa fa-clone"></i> Pages</a>
          <!-- Sub Menu -->
          <ul class="mega-submenu normal-sub">
            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-bars"></i> Services</a>
              <ul class="sub-submenu on-left">
                <li><a href="services.html"><i class="fa fa-magic"></i> Layout 1</a></li>
                <li><a href="services-2.html"><i class="fa fa-magnet"></i> Layout 2</a></li>
                <li><a href="services-3.html"><i class="fa fa-exchange"></i> Layout 3</a></li>
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->
            <li class="">
              <a href="services-single-service.html"><i class="fa fa-external-link"></i> Single Service Detail</a>
            </li>
            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-sort"></i> About Us</a>
              <!-- Sub-sub-menu -->
              <ul class="sub-submenu on-left">
                <li><a href="about-us.html"><i class="fa fa-circle-o"></i> Layout 1</a></li>
                <li><a href="about-us-2.html"><i class="fa fa-check"></i> Layout 2</a></li>
                <li><a href="about-us-3.html"><i class="fa fa-bug"></i> Layout 3</a></li>
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->
            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-question"></i> FAQs</a>
              <ul class="sub-submenu on-left">
                <li><a href="pages-faqs-1.html"><i class="fa fa-question"></i> Layout 1</a></li>
                <li><a href="pages-faqs-2.html"><i class="fa fa-question-circle"></i> Layout 2</a></li>
                <li><a href="pages-faqs-3.html"><i class="fa fa-question"></i> Layout 3</a></li>
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->
            <li class="has-subsubmenu">
              <a href="#"><i class="fa fa-rocket"></i> Contact Us</a>
              <ul class="sub-submenu on-left">
                <li><a href="pages-contact-us-1.html"><i class="fa fa-envelope-o"></i> Layout 1</a></li>
                <li><a href="pages-contact-us-2.html"><i class="fa fa-envelope"></i> Layout 2</a></li>
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->
            <li class="has-subsubmenu">
              <a href="shop.html"><i class="fa fa-rocket"></i> Shop</a>
              <ul class="sub-submenu on-left">
                <li><a href="shop.html"><i class="fa fa-shopping-cart"></i> Default Shop</a></li>
                <li><a href="shop-left-sidebar.html"><i class="fa fa-envelope"></i> Left Sidebar</a></li>
                <li><a href="shop-full-width.html"><i class="fa fa-magic"></i> Full Width</a></li>
                <li><a href="shop-details.html"><i class="fa fa-shopping-cart"></i> Single Product</a></li>
                <li><a href="shop-details-full-width.html"><i class="fa fa-shopping-cart"></i> Single Product 2</a></li>
              </ul> <!-- end sub-submenu -->
            </li> <!-- end has-subsubmenu -->

            <li class="">
              <a href="shortcodes-pricing.html"><i class="fa fa-dollar"></i> Pricing</a>
            </li>

            <li class="">
              <a href="pages-login.html"><i class="fa fa-lock"></i> Login</a>
            </li>
            <li class="">
              <a href="pages-register.html"><i class="fa fa-plus-circle"></i> Register</a>
            </li>
            <li class="">
              <a href="pages-side-navigation.html"><i class="fa fa-bars"></i> Side Navigation</a>
            </li>
          </ul> <!-- end mega-submenu -->
        </li> <!-- end menu-item -->

        <li class="menu-item">
          <a href="#"><i class="menu-icon fa fa-magic"></i> Shortcodes</a>
          <ul class="mega-submenu">
            <li class="submenu-column">
              <ul>
                <li><a href="shortcodes-accordions.html"><i class="fa fa-sort"></i> Accordions</a></li>
                <li><a href="shortcodes-alerts.html"><i class="fa fa-exclamation-triangle"></i> Alerts</a></li>
                <li><a href="shortcodes-animations.html"><i class="fa fa-fire"></i> Animations</a></li>
                <li><a href="shortcodes-blockquotes.html"><i class="fa fa-film"></i> Blockquotes</a></li>
                <li><a href="shortcodes-breadcrumbs.html"><i class="fa fa-angle-right"></i> Breadcrumbs</a></li>
                <li><a href="shortcodes-buttons.html"><i class="fa fa-plus-square-o"></i> Buttons</a></li>
                <li><a href="shortcodes-carousels.html"><i class="fa fa-film"></i> Carousels</a></li>
                <li><a href="shortcodes-charts.html"><i class="fa fa-area-chart"></i> Charts</a></li>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
                <li><a href="shortcodes-clients.html"><i class="fa fa-institution"></i> Clients</a></li>
                <li><a href="shortcodes-code.html"><i class="fa fa-code"></i> Code</a></li>
                <li><a href="shortcodes-columns-grid.html"><i class="fa fa-th"></i> Columns Grid</a></li>
                <li><a href="shortcodes-countdown.html"><i class="fa fa-hourglass-2"></i> Countdown</a></li>
                <li><a href="shortcodes-counters.html"><i class="fa fa-plus"></i> Counters</a></li>
                <li><a href="shortcodes-cta.html"><i class="fa fa-send"></i> Call To Action</a></li>
                <li><a href="shortcodes-dropcaps.html"><i class="fa fa-tint"></i> Dropcaps</a></li>
                <li><a href="shortcodes-fa-icons.html"><i class="fa fa-fort-awesome"></i> Icons</a></li>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
                <li><a href="shortcodes-feature-boxes.html"><i class="fa fa-bookmark"></i> Feature Boxes</a></li>
                <li><a href="shortcodes-gradient-backgrounds.html"><i class="fa fa-tags"></i> Gradient Backgrounds</a></li>
                <li><a href="shortcodes-labels.html"><i class="fa fa-tags"></i> Labels</a></li>
                <li><a href="shortcodes-lightbox.html"><i class="fa fa-picture-o"></i> Lightbox</a></li>
                <li><a href="shortcodes-lists.html"><i class="fa fa-list"></i> Lists</a></li>
                <li><a href="shortcodes-loaders.html"><i class="fa fa-list"></i> Loaders</a></li>
                <li><a href="shortcodes-maps.html"><i class="fa fa-location-arrow"></i> Maps</a></li>
                <li><a href="shortcodes-media.html"><i class="fa fa-film"></i> Media</a></li>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
                <li><a href="shortcodes-modal.html"><i class="fa fa-clone"></i> Modals</a></li>
                <li><a href="shortcodes-page-transitions.html"><i class="fa fa-exchange"></i> Page Transitions</a></li>
                <li><a href="shortcodes-panels.html"><i class="fa fa-laptop"></i> Panels</a></li>
                <li><a href="shortcodes-pies.html"><i class="fa fa-circle-o-notch"></i> Pies</a></li>
                <li><a href="shortcodes-popover-tooltips.html"><i class="fa fa-comments-o"></i> Popover & Tooltips</a></li>
                <li><a href="shortcodes-progress-bars.html"><i class="fa fa-filter"></i> Progress Bars</a></li>
                <li><a href="shortcodes-radio-switch.html"><i class="fa fa-toggle-on"></i> Radio Switch</a></li>
                <li><a href="shortcodes-sections.html"><i class="fa fa-film"></i> Sections</a></li>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
                <li><a href="shortcodes-select.html"><i class="fa fa-clone"></i> Select</a></li>
                <li><a href="shortcodes-smooth-scrolling.html"><i class="fa fa-arrow-down"></i> Smooth Scrolling</a></li>
                <li><a href="shortcodes-social-icons.html"><i class="fa fa-facebook"></i> Social Icons</a></li>
                <li><a href="shortcodes-star-rating.html"><i class="fa fa-star"></i> Star Rating</a></li>
                <li><a href="shortcodes-sticky.html"><i class="fa fa-sticky-note"></i> Sticky Elements</a></li>
                <li><a href="shortcodes-table.html"><i class="fa fa-table"></i> Tables</a></li>
                <li><a href="shortcodes-tabs.html"><i class="fa fa-flag-o"></i> Tabs</a></li>
                <li><a href="shortcodes-timeline.html"><i class="fa fa-line-chart"></i> Timeline</a></li>
              </ul>
            </li> <!-- end submenu-column -->
            <li class="submenu-column">
              <ul>
                <li><a href="shortcodes-typer.html"><i class="fa fa-magic"></i> Typer</a></li>
                <li><a href="shortcodes-word-rotator.html"><i class="fa fa-language"></i> Word Rotator</a></li>
                <li><a href="shortcodes-team.html"><i class="fa fa-users"></i> Team</a></li>
              </ul>
            </li> <!-- end submenu-column -->

            <li class="submenu-bottom">
              Call us on 1800-***-**** or email us on sales@example.net
            </li> <!-- end submenu-bottom -->
          </ul> <!-- end mega-submenu -->
        </li> <!-- end menu-item -->

        <li class="menu-item left-separator search-icon">
          <a href="#" class="ml10"><i class="menu-icon fa fa-search"></i></a>
          <div class="search-bar">
            <script>
              (function() {
                var cx = '007875426853687086369:gr0feg4cwuu';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:searchbox-only></gcse:searchbox-only>
          </div>
        </li>

        <li class="menu-item cart-icon">
          <a href="#" class=""><i class="menu-icon fa fa-shopping-cart"></i></a>
        </li>

      </ul> <!-- end main-menu -->
    </nav> <!-- end menu -->
  </div> <!-- end container-fluid -->
</div> <!-- end header -->
